@import url('https://fonts.googleapis.com/css?family=Lobster');



@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}



// * {
//   outline:1 solid red;
// }
.SakeCarousel {
  #carousel {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    overflow-x: visible;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    @include medium() {
      left: -69px;
    
    }
  }

  .flex01 {
    display: flex;
  }

  .flex02 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    justify-content: space-between;

    align-items: flex-end;
  }

  .arrow {
    position: absolute;
    width: 100px;
    height: 100%;
    //background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 25px;

    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
    top: -70px;
  }

  .arrow-right {
    right: 0px;
  }

  .item {
    cursor: pointer;
    text-align: center;
    position:relative;

    transition: height 2s, width 1.5s, left 1s, margin-bottom 3s, line-height 1s,
      background-color 1s;

    img {
      
      height: 100%;
      object-fit: cover;
      transition: opacity 2s;
      

    }

    .gif{
      
      position:absolute;
      left:0px;

      


      bottom:0;
      opacity: 0;
      transition: opacity 1.2s;

      &:hover{
        opacity: 1;
      }
    
      

    }
  }

  $level2-height: 35%;
  $level2-width: 110px;
  $level2-margin-bottom: 54px;

  $level0-height: 100%;
  $level0-width: 150px;

  $level-2-left: 650px;
  $level-1-left: 500px;
  $level0-left: 330px;
  $level1-left: 180px;
  $level2-left: 50px;

  .level-5 {
    //background-color: rgb(133, 28, 28);
    height: $level2-height;
    width: $level2-width;
    margin-top: 25px;
    flex-grow: 0;
    margin-bottom: $level2-margin-bottom;
  }

  .level-4 {
    //background-color: rgb(133, 84, 28);
    height: $level2-height;
    min-width: $level2-width;
    margin-top: 25px;
    flex-grow: 1;
    margin-bottom: $level2-margin-bottom;
  }

  .level-3 {
    //background-color: rgb(255, 209, 57);
    height: $level2-height;
    min-width: $level2-width;
    margin-top: 25px;
    flex-grow: 1;
    margin-bottom: $level2-margin-bottom;
  }

  .level-2 {
    //background-color: rgb(28, 133, 37);
    height: $level2-height;
    min-width: $level2-width;
    margin-top: 25px;
    flex-grow: 1;
    margin-bottom: $level2-margin-bottom;
  }

  .level-1 {
    //background-color: rgb(13, 239, 255);
    height: $level2-height;
    min-width: $level2-width;

    margin-top: 25px;
    flex-grow: 1;
    margin-bottom: $level2-margin-bottom;
  }

  //主要的
  .level0 {
    //background-color: rgb(159, 160, 240);
    height: $level0-height;
    min-width: $level0-width;
    margin-bottom: 0px;
    flex-grow: 1;
    transition: left 1s, opacity 1s, height 1s, width 0.3s, margin-top 1s,
      line-height 1s;
  }
  .level1 {
    //background-color: rgb(233, 159, 240);
    height: $level2-height;
    min-width: $level2-width;

    margin-top: 25px;
    flex-grow: 1;
    margin-bottom: $level2-margin-bottom;
  }
  .level2 {
    //background-color: rgb(70, 9, 62);
    height: $level2-height;
    width: $level2-width;
    margin-top: 25px;
    flex-grow: 0;
    margin-bottom: $level2-margin-bottom;
  }

  //======下面轉場============

  .left-enter {
    //background-color: rgb(150, 150, 150);
    opacity: 0;
    height: $level2-height;
    width: 3px;
    margin-top: 25px;
    flex-grow: 0;

    // //background-color: rgb(240, 159, 159);
    // opacity: 0;
    // height: $level2-height;
    // width: 1px;
    // flex-grow: 0;
  }

  .left-enter.left-enter-active {
    //background-color: rgb(90, 90, 89);
    opacity: 1;
    height: $level2-height;
    width: 3px;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 0.3s, margin-top 1s,
      line-height 1s;
    flex-grow: 0;
  }

  .left-leave {
    //background-color: rgb(82, 73, 63);
    opacity: 1;
    height: $level2-height;
    width: 3px;
    transition:  opacity 1s;
    margin-top: 25px;
    flex-grow: 0;
  }

  .left-leave.left-leave-active {
    //background-color: rgb(41, 37, 37);
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height;

    width: 3px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
      line-height 1s;
    flex-grow: 0;
  }

  .right-enter {
    //background-color: rgb(0, 4, 255);
    opacity: 0;
    height: $level2-height;
    width: 1px;
    flex-grow: 0;
  }

  .right-enter.right-enter-active {
    //background-color: rgb(236, 131, 11);
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;

    width: 88px;
    transition: left 1s, opacity 1s, height 1s, width 0.3s, margin-top 1s,
      line-height 1s;
    flex-grow: 0;
  }

  .right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;

    width: 88px;
    flex-grow: 0;
  }

  .right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height;
    width: 3px;

    transition: left 1s, opacity 0.8s, height 1s, width 1s, margin-top 1s,
      line-height 1s;
    flex-grow: 0;
  }

  .noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


@media screen and (min-width: 1200px) {
  .SakeCarousel .item .gif {
    left: 38px;
  }

}