@import '../mixin.scss';

.MarkEdit {
  .notice {
    color: $gray-300;
  }
  .tui-image-editor-container {
    margin: auto;
    .tui-colorpicker-palette-button {
      width: 16px;
      height: 16px;
    }
    .color-picker-control {
      width: 420px;
    }
    .tui-image-editor-menu {
      background-color: #3d4349;
    }
  }
}
