@import '../../mixin.scss';

.eventData {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;

  table {
    width: 100%;


    thead {
      width: 100%;
      border-bottom: 2px solid #bbbcbd;

      tr {
        width: 100%;
        //vertical-align: center;
        th {
          padding-left: 50px;
          //padding-right: 50px;
          width: 25%;
          font-size: 14px;
          padding-bottom: 24px;
        }
      }
    }

    tbody {
      width: 100%;

      tr {
        //width: 80%;
        border-bottom: 2px solid #bbbcbd;

        td {
          text-align: center;
          width: 140px;
          font-size: 14px;
        }

        button {
          width: 145px;
          margin: 8px 8px;
          height: 48px;
        }
      }
    }

  }
}
