@import '../mixin.scss';
* {
  // outline: 1px solid red;
}
.Header {
  width: 100%;
  @include medium() {
    padding: 0 20px;
  }

  .Header-container {
    max-width: 1200px;
    height: 145px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo-bread {
      // width: 23%;
      display: flex;
      flex-direction: column;

      .logo {
        // width: 63%;
        margin-top: 55.7px;
      }
      .bread {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px 0;
        .current {
          color: $secondary;
          font-weight: bold;
        }
      }
    }

    .navbar {
      width: 756px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding: 0;

      .links {
        width: 599px;
        display: flex;
        // margin-top: 44px;
        margin-bottom: 0px;
        font-size: 17px;
        @include large() {
          width: 500px;
        }
        @include medium() {
          display: none;
        }
        li {
          letter-spacing: -1.8px;
          margin: 0px 7.88px;
          list-style-type: none;
          @include large() {
            margin: 0px 5px;
          }

          a {
            @include kleeone();
            @include large() {
              font-size: 16px;
            }
          }
        }
        .purchase-sake {
          position: relative;
          // display: none;
          &:hover .dropdown-content {
            display: block;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            left: -7px;
            background-color: $primary;
            width: 77px;
            z-index: 1;
            li {
              margin: 4px 0;
              text-align: center;
              a {
                color: $white;
                // margin: 4px 0;
              }
            }
            li:last-child {
              margin: 4px 0 8px;
            }
          }
        }
      }
      .icons {
        // width: 16%;
        // margin-top: 44px;
        display: flex;
        .login {
          width: 37.4%;
          height: 80px;
          margin-right: 17px;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include large() {
            width: 25%;
          }
          cursor: pointer;
          span {
            @include kleeone();
            font-size: 15px;
            line-height: 30px;
          }
        }
        .cart {
          cursor: pointer;
          margin-right: 7px;
          display: flex;
          align-items: center;
        }
        .fav {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.block {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 120vh;
  background-color: #202326;
  opacity: 0.6;
  transition: 350ms;
  z-index: 9;
}

.displayNone {
  opacity: 0;
  pointer-events: none;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-menu {
  background-image: url('../../../public/Sake-background0310.jpg');
  width: 647px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 9;
  @include medium() {
    //內容還沒RWD 只調整區塊尺寸
    width: 300px;
  }

  .nav-menu-items {
    width: 100%;

    .navbar-toggle {
      //background-color: #060b26;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: end;
      align-items: center;
      img {
        margin-right: 30px;
        cursor: pointer;
      }

      .menu-bar {
        margin-left: 4rem;
        font-size: 2rem;
        background: none;
      }
    }
  }
}
