.Header {
  width: 100%;
}

@media (max-width: 768px) {
  .Header {
    padding: 0 20px;
  }
}

.Header .Header-container {
  max-width: 1200px;
  height: 145px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header .Header-container .logo-bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Header .Header-container .logo-bread .logo {
  margin-top: 55.7px;
}

.Header .Header-container .logo-bread .bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.Header .Header-container .logo-bread .bread .current {
  color: #d26d54;
  font-weight: bold;
}

.Header .Header-container .navbar {
  width: 756px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.Header .Header-container .navbar .links {
  width: 599px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .Header .Header-container .navbar .links {
    display: none;
  }
}

.Header .Header-container .navbar .links li {
  letter-spacing: -1.8px;
  margin: 0px 7.88px;
  list-style-type: none;
}

.Header .Header-container .navbar .links li a {
  font-family: "Klee One", cursive;
}

.Header .Header-container .navbar .links .purchase-sake {
  position: relative;
}

.Header .Header-container .navbar .links .purchase-sake:hover .dropdown-content {
  display: block;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content {
  display: none;
  position: absolute;
  left: -7px;
  background-color: #3d4349;
  width: 77px;
  z-index: 1;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li {
  margin: 4px 0;
  text-align: center;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li a {
  color: #f7f7f6;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li:last-child {
  margin: 4px 0 8px;
}

.Header .Header-container .navbar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header .Header-container .navbar .icons .login {
  width: 37.4%;
  height: 80px;
  margin-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Header .Header-container .navbar .icons .login span {
  font-family: "Klee One", cursive;
  font-size: 15px;
  line-height: 30px;
}

.Header .Header-container .navbar .icons .cart {
  cursor: pointer;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .Header-container .navbar .icons .fav {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 120vh;
  background-color: #202326;
  opacity: 0.6;
  -webkit-transition: 350ms;
  transition: 350ms;
  z-index: 9;
}

.displayNone {
  opacity: 0;
  pointer-events: none;
}

.nav-menu.active {
  right: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-menu {
  background-image: url("../../../public/Sake-background0310.jpg");
  width: 647px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
  z-index: 9;
}

.nav-menu .nav-menu-items {
  width: 100%;
}

.nav-menu .nav-menu-items .navbar-toggle {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-menu-items .navbar-toggle img {
  margin-right: 30px;
  cursor: pointer;
}

.nav-menu .nav-menu-items .navbar-toggle .menu-bar {
  margin-left: 4rem;
  font-size: 2rem;
  background: none;
}
/*# sourceMappingURL=Header.css.map */