.Header {
  width: 100%;
}

@media (max-width: 768px) {
  .Header {
    padding: 0 20px;
  }
}

.Header .Header-container {
  max-width: 1200px;
  height: 145px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Header .Header-container .logo-bread {
  display: flex;
  flex-direction: column;
}

.Header .Header-container .logo-bread .logo {
  margin-top: 55.7px;
}

.Header .Header-container .logo-bread .bread {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.Header .Header-container .logo-bread .bread .current {
  color: #d26d54;
  font-weight: bold;
}

.Header .Header-container .navbar {
  width: 756px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0;
}

.Header .Header-container .navbar .links {
  width: 599px;
  display: flex;
  margin-bottom: 0px;
  font-size: 17px;
}

@media (max-width: 1024px) {
  .Header .Header-container .navbar .links {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .Header .Header-container .navbar .links {
    display: none;
  }
}

.Header .Header-container .navbar .links li {
  letter-spacing: -1.8px;
  margin: 0px 7.88px;
  list-style-type: none;
}

@media (max-width: 1024px) {
  .Header .Header-container .navbar .links li {
    margin: 0px 5px;
  }
}

.Header .Header-container .navbar .links li a {
  font-family: "Klee One", cursive;
}

@media (max-width: 1024px) {
  .Header .Header-container .navbar .links li a {
    font-size: 16px;
  }
}

.Header .Header-container .navbar .links .purchase-sake {
  position: relative;
}

.Header .Header-container .navbar .links .purchase-sake:hover .dropdown-content {
  display: block;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content {
  display: none;
  position: absolute;
  left: -7px;
  background-color: #3d4349;
  width: 77px;
  z-index: 1;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li {
  margin: 4px 0;
  text-align: center;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li a {
  color: #f7f7f6;
}

.Header .Header-container .navbar .links .purchase-sake .dropdown-content li:last-child {
  margin: 4px 0 8px;
}

.Header .Header-container .navbar .icons {
  display: flex;
}

.Header .Header-container .navbar .icons .login {
  width: 37.4%;
  height: 80px;
  margin-right: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .Header .Header-container .navbar .icons .login {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .Header .Header-container .navbar .icons .login {
    display: none;
  }
}

.Header .Header-container .navbar .icons .login span {
  font-family: "Klee One", cursive;
  font-size: 15px;
  line-height: 30px;
}

.Header .Header-container .navbar .icons .cart {
  cursor: pointer;
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.Header .Header-container .navbar .icons .cart img {
  width: 30px;
  height: 30px;
}

.Header .Header-container .navbar .icons .fav {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .Header .Header-container .navbar .icons .fav {
    display: none;
  }
}

.Header .Header-container .navbar .icons .fav img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.Header .Header-container .navbar .icons .menu {
  display: none;
}

@media (max-width: 768px) {
  .Header .Header-container .navbar .icons .menu {
    display: block;
    margin-left: 20px;
  }
}

.block {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 120vh;
  background-color: #202326;
  opacity: 0.6;
  transition: 350ms;
  z-index: 9;
}

.displayNone {
  opacity: 0;
  pointer-events: none;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-menu {
  background-image: url("../../../public/Sake-background0310.jpg");
  width: 647px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 9;
}

@media (max-width: 768px) {
  .nav-menu {
    width: 300px;
  }
}

.nav-menu .nav-menu-items {
  width: 100%;
}

.nav-menu .nav-menu-items .navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-menu .nav-menu-items .navbar-toggle img {
  margin-right: 30px;
  cursor: pointer;
}

.nav-menu .nav-menu-items .navbar-toggle .menu-bar {
  margin-left: 4rem;
  font-size: 2rem;
  background: none;
}

.mobile-menu {
  width: 100%;
  display: none;
  z-index: 99;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu .blockbg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #202326;
  opacity: 0.6;
  transition: all 350ms;
  z-index: 9;
}

.mobile-menu .displayNone {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu .menu {
  background-image: url("../../../public/Sake-background0310.jpg");
  width: 70%;
  height: 100%;
  padding-top: 33px;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
  z-index: 99;
}

.mobile-menu .menu .icons {
  padding-left: 32px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.mobile-menu .menu .icons .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mobile-menu .menu .icons .login span {
  font-family: "Klee One", cursive;
  font-size: 15px;
  line-height: 30px;
}

.mobile-menu .menu .icons .closed {
  padding-left: 40px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .mobile-menu .menu .icons .closed {
    padding-left: 15px;
  }
}

.mobile-menu .menu ul {
  padding-top: 40px;
  padding-left: 35px;
}

.mobile-menu .menu ul li {
  list-style: none;
  margin-bottom: 18px;
  position: relative;
}

.mobile-menu .menu ul li a {
  font-family: "Klee One", cursive;
  font-size: 17px;
  font-weight: 600;
}

.mobile-menu .menu ul li a:hover {
  text-decoration: none;
}

.mobile-menu .menu ul .purchase-sake {
  transition: all 0.3s;
}

.mobile-menu .menu ul .purchase-sake .dropdown-content {
  display: none;
  position: absolute;
  padding: 15px 0 5px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  top: 20px;
  left: 0;
}

.mobile-menu .menu ul .purchase-sake .dropdown-content li {
  opacity: 0;
  pointer-events: none;
  margin: 0;
  transition: all .3s;
}

.mobile-menu .menu ul .purchase-sake .dropdown-content li a {
  font-weight: 400;
  text-decoration: none;
}

.mobile-menu .menu ul .purchase-sake .dropdown-content .showLi {
  opacity: 1;
  pointer-events: all;
}

.mobile-menu .menu ul .open {
  margin-bottom: 110px;
}

.mobile-menu .menu ul .open a {
  text-decoration: underline;
}

.mobile-menu .menudisplaynone {
  right: -100%;
}
/*# sourceMappingURL=Header.css.map */