@import "../../mixin.scss";

.EmailVerify {
  display: flex;
  margin: 0 auto;
  width: 650px;
  height: 900px;

  .EmailVerifyBox {
    padding-top: 25%;
    padding-left: 36%;

    label {
      text-align: center;
    }

    .inputGroup {


      img {
        margin-top: 3%;
        margin-left: 3%;
      }
      input {
        width: 17%;
        margin-left: 3%;
        margin-top: 3%;
      }
    }

    .reSendTag {
      margin-top: 10%;
    }
    .btn {
      margin-top: 10%;
    }
  }
}