@import "../../mixin.scss";

.EmailVerify {
  display: flex;
  margin: 0 auto;
  width: 650px;
  height: 900px;

  .EmailVerifyBox {
    padding-top: 14%;
    padding-left: 26%;

    label {
      text-align: center;
    }

    .inputGroup {


      img {
        margin-top: 3%;
        margin-left: 3%;
      }
      input {
        width: 26%;
        margin-left: 3%;
        margin-top: 3%;
      }
    }

    .reSendTag {
      margin-top: 10%;
      margin-left: 18%;
    }
    .btn {
      margin-left: 22%;
      margin-top: 10%;
    }
  }
}