@import "../../mixin.scss";

.LoginContext {
  display: flex;
  margin: 0 auto;
  width: 650px;
  height: 900px;


  .LoginContextBox {
    padding-top: 14%;
    padding-left: 26%;
    //text-align: center;

    .login-title {
      text-align: center;
    }

    .login-form-group {
      padding-top: 25%;
      position: relative;

      .passwordInputBox {

        .passForget {
          position: absolute;
          right: 0;
        }
      }

      .login-btn {
        margin-left: 7%;
        margin-top: 8%;
      }

      .register-btn {
        margin-left: 13%;
        margin-top: 8%;
      }
    }
  }
}