@import "../../mixin.scss";

.RegisterContext {
  display: flex;
  margin: 0 auto;
  width: 650px;
  height: 900px;

  .RegisterContextBox {
    padding-top: 14%;
    padding-left: 26%;

    .register-title {
      text-align: center;
    }

    .register-form-group {
      padding-top: 25%;
      position: relative;
      .account-g {

      }
      .pass-g {

        .passHideIcon {
          right: 8px;
          top: 238px;
          position: absolute;
          img {
            width: 40px;
            height: 30px;
          }
        }
        .errorMsg {

        }
      }

      .passConf-g {

        .errorMsg {

        }
      }
      .login-btn {
        margin-left: 7%;
        margin-top: 8%;
      }

      .register-btn {
        margin-left: 13%;
        margin-top: 8%;
      }
    }
  }
}
