@import "../../mixin.scss";

.SetNewPass {
  display: flex;
  margin: 0 auto;
  width: 650px;
  height: 900px;

  .SetNewPassBox {
    padding-top: 25%;
    padding-left: 26%;

    .setPassForm {
      position: relative;

      .passHideIcon {
        position: absolute;
        right: 4px;
        top: 42px;

        img {
          width: 40px;
          height: 30px;
        }
      }

      button {
        margin-top: 8%;
        margin-left: 33%;
      }
    }

  }
}