@import '../mixin.scss';

@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}

.MemberFav {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;margin-bottom: 100px;

  .MemberFavBox {
    width: 100%;
    .container {
      margin: 0 auto;
      .MemberFavBar {
        padding-top: 22px;
        width: 100%;
        margin-top: 13.5%;
        border-top: 2px solid #bbbcbd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include medium(){
          display: none;
        }
        .search-icon-fav {
          margin-left: 3%;
        }

        .MemberFavBar-right {
          display: flex;
          align-items: center;

          .countItemsTotal {
            text-align: center;
            width: 120px;
            margin-right: 4%;
          }

          .ItemsSort {
            margin-top: 1.5%;
            margin-right: 3%;
          }
        }
      }
      .MobileMemberFavBar{
        display: none;
        width: 100%;
        @include medium(){
          display: flex;
          flex-direction: column;

        }
        .MemberFavBar-left{
          display: flex;
          justify-content: space-between;
          padding: 18px 23px;
          margin-top: -23px;
          .countItemsTotal{
            color: $primary;
            font-size: 17px;
            font-weight: 700;
          }
        }
        .MemberFavBar-right{
          width: 100%;
          select{
            width: 100%;
          }
        }
      }
      .MemberFavItems {
        .product-list {
          padding-top: 20px;
          .product-title {
            @include kleeone();
            font-size: 24px;
            font-weight: 600;
            margin-left: 43px;
            position: relative;
            img {
              width: 80px;
              position: absolute;
              mix-blend-mode: multiply;
              opacity: 0.8;
              left: -46px;
              top: -14px;
            }
          }
          .product-container {
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 25px;
            .product {
              width: 30%;
              display: flex;
              flex-direction: column;
              align-items: center;
              height: fit-content;

              column-gap: 20px;

              @include medium() {
                width: 48%;
              }
              .product-wrap {
                width: 100%;
                text-align: center;
                background-color: rgba(247, 247, 246, 0.63);
                //border: 1px solid red;
                padding: 10px;
                position: relative;
                @include medium() {
                  padding: 10px 5px 5px 5px;
                }

                img.product-img {
                  height: 190px;
                  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));

                  @include medium() {
                    height: 120px;
                    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
                  }
                }
                .tag-img {
                  img {
                    position: absolute;
                    top: 5%;
                    right: 10%;
                    @include medium() {
                      top: 6%;
                      right: 7%;
                    }
                  }
                }

                .icon {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .compare {
                    display: flex;
                    align-items: center;
                    padding-top: 5px;
                    img {
                      width: 20px;
                      height: 20px;
                      margin-right: 5px;
                      @include medium() {
                        width: 14px;
                        height: 14px;
                        margin-right: 2px;
                      }
                    }
                    p {
                      color: $gray-200;
                      margin: 0;
                      font-size: 16px;
                      font-weight: 500;
                      @include medium() {
                        font-size: 12px;
                      }
                    }
                  }
                  .cart-heart {
                    display: flex;
                    align-items: center;
                    @include medium() {
                      margin-top: 5px;
                    }
                    img {
                      margin-left: 8px;
                      width: 24px;
                      height: 24px;
                      @include medium() {
                        width: 18px;
                        height: 17px;
                        margin-left: 12px;
                      }
                    }
                    .heart {
                      width: 30px;
                      height: 30px;
                      @include medium() {
                        width: 21px;
                        height: 21px;
                      }
                    }
                  }
                }
              }
              .title {
                p {
                  text-align: center;
                  margin: 0;
                  font-size: 18px;
                  @include medium() {
                    font-size: 15px;
                  }
                }
                p.price {
                  margin-bottom: 10px;
                  font-size: 16px;
                  color: $success;
                  @include medium() {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
