@import "../mixin.css";

.MemberEventList {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberEventBox {
    width: 100%;

    .EventBar {
      width: 100%;
      margin-top: 12%;
      border-bottom: 2px solid #BBBCBD;
      display: flex;
      align-items: center;

      .EventTabs {
        width: 100%;
        margin-bottom: 2%;

        .EventBar-item-box {
          margin-left: 5%;

          .EventBar-item {

          }
        }

        .search-icon-ev {
          margin-left: 3%;
        }
      }
    }

    .EventFileBox {
      margin-top: 1.8%;
      margin-left: 1.7%;

      .table {
        width: 92%;

        .table th {
          text-align: center;
          //border: none;
        }
        .table tbody {
          text-align: center;

          .table td {
            text-align: center;
            //border: none;
          }
        }
      }


    }
  }
}
