@import "../mixin.css";

.MemberEventList {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberEventBox {
    width: 100%;

    .EventBar {
      width: 95%;
      margin-top: 5.5%;
      border-bottom: 2px solid #BBBCBD;
      display: flex;

      .EventTabs {
        width: 100%;
        margin-bottom: 2%;
        position: relative;

        .EventBar-item-box {
          margin-left: 5%;

          .EventBar-item {
            text-decoration: none;
          }

          .EventBar-item:hover {
            color: #CEB48D;
            padding-bottom: 40%;
            border-bottom: 4px solid #CEB48D;
          }

          .EventBar-item-coming {
            text-decoration: none;
          }

          .EventBar-item-coming:hover {
            color: #CEB48D;
            padding-bottom: 30%;
            border-bottom: 4px solid #CEB48D;
          }
        }

        .search-icon-ev {
          margin-left: 3%;
        }
        .pageTags {
          width: 110px;
          position: absolute;
          right: 0;
          display: flex;

          .page {
            margin-left: 18%;
            padding: 10% 3% 0;
          }

          .page:hover {
            border-bottom: 2px solid #3D4349;
          }
        }
      }
    }

    .EventFileBox {
      width: 100%;
      padding-left: 2.5%;
      text-align: center;

      table {
        width: 90%;


        thead {
          height: 65px;

          tr th {
            vertical-align: middle;
            border: none;
          }
        }


        tbody tr td {
          font-family: 'Noto Sans TC', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 14px;
          padding-bottom: -15%;
          vertical-align: middle;
        }
      }
    }
  }
}
