@import '../mixin.scss';

.MemberProfile {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .bgItem {
    position: absolute;
    left: 68%;
    right: 15.21%;
    top: 25%;
    bottom: 7.61%;
  }

  .MemberProfileBox {
    width: 100%;
  }
}


//.MemberProfileBar {
//  width: 100%;
//  margin-top: 5%;
//  border-bottom: 2px solid #bbbcbd;
//  display: flex;
//  @include large() {
//    justify-content: center;
//    column-gap: 10px;
//  }
//
//  .ProfileBar-item-box {
//    margin-left: 35px;
//    margin-bottom: 20px;
//    @include large() {
//      margin: 0 auto 20px auto;
//    }
//
//    .ProfileBar-item {
//      text-decoration: none;
//      font-family: 'Noto Sans TC', sans-serif;
//      color: $gray-300;
//      //margin-left: 3%;
//    }
//
//    .ProfileBar-item:hover {
//      color: #ceb48d;
//      padding-bottom: 20px;
//      border-bottom: 4px solid #ceb48d;
//    }
//
//    .payment {
//      color: $gray-300;
//      text-decoration: none;
//      font-family: 'Noto Sans TC', sans-serif;
//    }
//
//    .payment:hover {
//      color: #ceb48d;
//      padding-bottom: 15.3%;
//      border-bottom: 4px solid #ceb48d;
//    }
//  }






