@import '../mixin.scss';

@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}

.MemberFav {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;margin-bottom: 100px;

  .MemberFavBox {
    width: 100%;

    .container {
      margin: 0 auto;
      margin-top: -10px;



      .MemberFavItems {

      }
    }
  }
}
