@import "../mixin.scss";

.MemberSubList {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .bgItem {
    position: absolute;
    left: 68%;
    right: 15.21%;
    top: 48%;
    bottom: 7.61%;
    z-index: -9;
  }

  .MemberSubBox {
    width: 100%;
    //padding: 0 4%;
  }

}

//.none-mes {
//  text-align: center;
//  padding-top: 17%;
//  padding-left: 40%;
//
//  .btnSub {
//    margin-top: 40%;
//  }
//}


