@import '../mixin.scss';

.MemberProfile {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .bgItem {
    position: absolute;
    left: 68%;
    right: 15.21%;
    top: 25%;
    bottom: 7.61%;
  }

  .MemberProfileBox {
    width: 100%;

    .MemberProfileBar {
      width: 100%;
      margin-top: 5%;
      border-bottom: 2px solid #BBBCBD;
      display: flex;
      align-items: center;

      .ProfileBar-item-box {
        margin-left: 5%;
        margin-bottom: 2%;

        .ProfileBar-item {
          text-decoration: none;
          font-family: 'Noto Sans TC', sans-serif;
          //margin-left: 3%;
        }
        .ProfileBar-item:hover {
          color: #CEB48D;
          padding-bottom: 29.5%;
          border-bottom: 4px solid #CEB48D;
        }
        .payment {
          text-decoration: none;
          font-family: 'Noto Sans TC', sans-serif;
        }
        .payment:hover {
          color: #CEB48D;
          padding-bottom: 15.3%;
          border-bottom: 4px solid #CEB48D;
        }
      }
    }
  }
}
