@import "../mixin.css";

.MemberFav {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberFavBox {
    width: 100%;

    .MemberFavBar {
      width: 100%;
      margin-top: 13.5%;
      border-top: 2px solid #BBBCBD;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-icon-fav {
        margin-left: 3%;
      }

      .MemberFavBar-right {
        display: flex;
        align-items: center;

        .countItemsTotal {
          text-align: center;
          width: 120px;
          margin-right: 4%;
        }

        .ItemsSort {
          margin-top: 1.5%;
          margin-right: 3%;
        }
      }
    }
  }
}


