@import "../mixin.css";

.MemberOrderList {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberOrderBox {
    width: 100%;
    padding: 0 4%;

    .OrderBar {
      width: 100%;
      margin-top: 12%;
      border-bottom: 2px solid #BBBCBD;
      display: flex;
      align-items: center;

      .OrderTabs {
        width: 100%;
        padding-bottom: 2%;

        .search-icon-od {
          padding-left: 3%;
        }

        .OrderBar-item-box {
          padding-left: 5.3%;

          .OrderBar-item-route {
            text-decoration: none;
          }
          .OrderBar-item-route:hover {
            color: #CEB48D;
            padding-bottom: 36%;
            border-bottom: 4px solid #CEB48D;
          }
          .OrderBar-item-route-all {
            text-decoration: none;
          }
          .OrderBar-item-route-all:hover {
            color: #CEB48D;
            padding-bottom: 55%;
            border-bottom: 4px solid #CEB48D;
          }
        }
      }
    }

    .order-list-display-box {
      padding-top: 2%;
      padding-left: 2%;
      text-align: center;

      .table {
        width: 95%;

        thead {
          border: none;

          th {
            border: none;
            width: 18%;

            .listItem-name {
              border: none;
            }

            .listItem-btn {

            }
          }

        }

        tbody {

          tr {

            td {

              .btn-zone {
                //width: 30%;
              }
            }
          }
        }
      }
    }
  }
}