@import "../mixin.css";

.MemberMark {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberMarkBox{
    width: 100%;

    .MemberMarkBar {
      width: 80%;
      margin-top: 13.5%;
    }
  }
}