@import "../mixin.css";

.MemberMark {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .MemberMarkBox {
    width: 100%;
    margin-top: 11%;
    height: 622px;

    .MemberMarkBar {
      width: 80%;
      //margin-top: 13.5%;

      .btn-delete {
        //margin-top: 1.2%;
      }
    }

    .MemberMarkItems {
      width: 100%;
      display: flex;
      margin-top: 10%;
      align-items: center;
      position: relative;

      .bgImg img {
        position: absolute;
        left: 41%;
        top: -55%;
      }

      .MarkItemAdd {
        width: 343px;
        height: 214px;

        .MarkPicAdd {
          width: 100%;
          height: 156px;
          border: 1px solid rgba(110, 113, 115, 0.66);
          text-align: center;

          img {
            padding-top: 17%;
          }
        }

        .MarkAddText {
          padding-top: 5%;
        }
      }

      .MarkItem {
        width: 343px;
        height: 214px;
        margin-left: 5%;

        .MarkPicDisplay {
          width: 100%;
          height: 156px;

          img {

          }
        }

        .MarkName {
          padding-top: 5%;
        }
      }
    }
  }
}