@import "../mixin.scss";

.MemberMark {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;

  .SakeBg {
    position: absolute;
    right: 5%;
    top: -50px;
    z-index: 1;
  }

  .MemberMarkBox {
    width: 100%;
    margin-top: 4.5%;
    height: fit-content;

    .MemberMarkBar {
      width: 80%;
      //margin-top: 13.5%;

      .btn-delete {
        //margin-top: 1.2%;
      }
    }

    .MemberMarkItems {
      width: 100%;
      display: flex;
      margin-top: 9%;
      align-items: center;
      position: relative;

      .bgImg img {
        position: absolute;
        left: 41%;
        top: -15px;
        pointer-events: none;
        z-index: -1;
      }
    }
  }
}