@import '../mixin.scss';

@mixin exlarge {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 320px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
}

//最外面的div
.Gift {
  max-width: 100%;
  position: relative;
  padding-bottom: 300px;
  @include medium() {
    padding: 0 20px;
  }

  //navbar下方的body
  .gift_container {
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    z-index: 3;
    position: relative;

    // background patten
    .patten {
      width: 100%;
      height: 120%;
      overflow: hidden;
      position: absolute;
      // z-index: 0;

      .bgelement01,
      .bgelement02,
      .bgelement03,
      .bgelement04 {
        position: absolute;
        z-index: 0;
        @include medium() {
          display: none;
        }
      }
      .bgelement01 {
        top: 5vh;
        right: -300px;
      }
      .bgelement02 {
        top: 100vh;
        width: 550px;
        transform: rotateZ(30deg);
      }
      .bgelement03 {
        top: 210vh;
        right: -100px;
        width: 600px;
        transform: rotateZ(50deg);
      }
      .bgelement04 {
        top: 300vh;
        transform: rotateZ(40deg);
      }
    }

    // 在sidebar旁的主體
    .all {
      border-top: 2px solid $gray-200;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      column-gap: 40px;
      position: relative;
      z-index: 3;

      @include medium() {
        border: none;
        display: block;
      }

      // main
      main {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 40px;
        @include medium() {
          border: none;
          display: block;
        }

        //section01
        #gift_kind {
          width: 100%;
          height: calc(100vh - 175px - 144px);

          .kind {
            background-color: rgba(255, 255, 255, 0.5);
            margin: 0 1rem;
            padding: 1.5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            cursor: pointer;
            
            &:hover {
              transform: translateY(-40px);
              transition: 0.5s;
              z-index: 5;
            }

            img {
              height: 40vh;
              filter: drop-shadow(0 0 0.5rem $gray-300);
            }

            .title {
              color: $primary;
              font-size: 20px;
              margin-top: 2rem;
            }
          }
        }

        // section02
        #gift_sake {
          width: 100%;
          height: fit-content;
          margin-top: 20px;

          .header {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5vh;
          }

          h4 {
            @include kleeone();
            text-align: center;
            margin-top: -35px;
          }

          .gift_grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            padding: 0 110px;
            margin-top: 5vh;

            .gift_sake {
              padding: 0 10px;

              .sake_card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 20px 0;
                cursor: pointer;
                &:hover {
                  .original {
                    display: none;
                  }
                  .trans {
                    display: block;
                  }
                }

                .original {
                  width: 50px;
                }
                .trans {
                  display: none;
                  height: 187.96px;
                }

                .name {
                  font-size: 18px;
                  margin-top: 10px;
                }

                small {
                  font-size: 14px;
                  font-weight: 700;
                  color: $gray-200;
                  margin-top: 5px;
                }
              }
            }
          }
        }

        // section03
        #gift_color {
          width: 100%;
          height: fit-content;
          margin-top: 20px;

          .header {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5vh;
          }

          h4 {
            @include kleeone();
            text-align: center;
            margin-top: -35px;
          }

          .color_group {
            width: 100%;
            height: 88px;
            display: flex;
            justify-content: center;
            margin-top: 5vh;

            .color_btn {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: transparent;
              border: none;
              padding: 8px 16px;
              margin: 0 5px;

              &:hover {
                transform: translateY(-15px);
                transition: 0.5s;
                img {
                  filter: drop-shadow(4px 4px 0.15rem $gray-300);
                }
                small {
                  display: block;
                }
              }

              small {
                display: none;
                margin-top: 10px;
                color: $gray-300;
              }
            }
          }

          .gift_image {
            width: 100%;
            height: 65vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 63vh;
              position: absolute;
              margin: auto;
            }
          }

          .confirm {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }

        // section04
        #gift_detail {
          width: 100%;
          height: fit-content;
          margin-top: 20px;

          .header {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5vh;
          }

          h4 {
            @include kleeone();
            text-align: center;
            margin-top: -35px;
          }

          .detail {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            padding: 5vh 110px;
            overflow: hidden;

            .final {
              width: 400px;
              z-index: 3;
            }

            .content {
              display: flex;
              flex-direction: column;
              align-items: center;
              // padding: 5vh 0;

              .title {
                color: $gray-300;
                font-weight: bold;
                line-height: 90px;
              }

              .sheet {
                width: 100%;
                display: grid;
                grid-template-columns: 7fr 2fr 3fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                overflow: hidden;

                .color {
                  font-size: 18px;
                  line-height: 30px;
                  color: $gray-300;
                  margin: 0;
                }
                .quality,
                .price {
                  text-align: right;
                }
                .text {
                  overflow: hidden;
                  white-space: nowrap;
                  &::after {
                    content: '……………………';
                  }
                }
                .price {
                  &::before {
                    content: '$';
                  }
                }
                .total {
                  font-size: 18px;
                  line-height: 30px;
                  font-weight: bold;
                  color: $warning;
                }
                .text_total {
                  text-align: center;
                }
              }

              .laststep {
                font-weight: bold;
                line-height: 60px;
                margin-top: 15px;
              }

              .add-minus {
                width: 100px;
                display: flex;
                justify-content: space-between;
                img {
                  cursor: pointer;
                }
              }

              .gift_cart {
                margin-top: 40px;
                .cart {
                  margin: 0 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
