@import '../../mixin.scss';


.TabsSub {
  width: 90%;
  height: 600px;
  margin-left: 3.5%;
  margin-top: 4.5%;

  nav {
    width: 100%;
    border-bottom: 2px solid #bbbcbd;
    position: relative;

    img {
      //position: absolute;
    }
  }

  .outlet {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
  }
}