@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

// 變數覆蓋需要在導入 Bootstrap 的 Sass 檔案之前
// 參考 Bootstrap 的 _variables.scss

//
// Color system
//
$primary: #3d4349;
$secondary: #d26d54;
$success: #e6c49e;
$info: #ffdb8a;
$warning: #af4930;
$light: #95a4b2;
$dark: #6b7580;

$white: #f7f7f6;
$black: #202326;

$gray-100: #e0e0df;
$gray-200: #bbbcbd;
$gray-300: #7e8082;
$gray-400: #4d4e4f;

//
// btn sizes
//
// btn (normal)
$btn-border-radius: 0%;
$btn-padding-y: 16px;
$btn-padding-x: 22px;
$btn-font-size: 16px;
$btn-line-height: 16px;

// btn-lg (medium in style guide)
$btn-border-radius-lg: 0%;
$btn-padding-y-lg: 18px;
$btn-padding-x-lg: 24px;
$btn-font-size-lg: 18px;
$btn-line-height-lg: 18px;

// btn-sm (medium in style guide)
$btn-border-radius-sm: 0%;
$btn-padding-y-sm: 14px;
$btn-padding-x-sm: 20px;
$btn-font-size-sm: 14px;
$btn-line-height-sm: 14px;

//
// input group
//
$input-padding-y: 1rem;
$input-padding-x: 1.375rem;

// 導入 bootstrap 所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設 bootstrap 樣式要放在這下面
// 全站都會使用的共同樣式
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//
// button styles
//
.btn {
  min-width: 108px;
}
.btn:active,
.btn:active:focus,
.btn:focus {
  box-shadow: none !important;
}
// btn-primary
.btn-primary {
  border-color: $primary;
}
.btn-primary:hover {
  background-color: $light;
  border-color: $light;
}
.btn-primary:focus {
  background-color: $dark;
  border-color: $dark;
}
.btn:disabled {
  background-color: $gray-200;
  border-color: $gray-200;
}
// btn-secondary
.btn-secondary {
  border-color: $secondary;
}
.btn-secondary:hover {
  background-color: $success;
  border-color: $success;
}
.btn-secondary:focus {
  background-color: $warning;
  border-color: $warning;
}
.btn-secondary:disabled {
  background-color: $gray-200;
}

//
//form-control
//

.form-control {
  font-size: 18px;
  line-height: 18px;
  color: $gray-400;
  width: 320px;
  border-radius: 0%;
}
.form-control::placeholder {
  color: $gray-200;
}
.form-control:focus {
  box-shadow: none;
  border-color: $success;
  box-shadow: none;
}
.form-label {
  font-size: 16px;
  line-height: 16px;
  color: $gray-300;
}
.form-text {
  color: $gray-200;
}

// check-box

input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label {
  cursor: pointer;
  color: $dark;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
input[type='checkbox'] + label span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(CheckBox.svg) left top no-repeat;
  transition: all 0.3s;
  cursor: pointer;
}
input[type='checkbox']:checked + label span {
  background: url(CheckBoxChecked.svg) left top no-repeat;
  transition: all 0.3s;
}

// select
select {
  font-size: 18px;
  color: $gray-400;
  border: $gray-400 0.5px solid;
  background-color: transparent;
  padding: 14px 35px 14px 16px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url(ArrowDown.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 16.5px;
}
select:focus {
  border: $gray-400 0.5px solid;
  border-radius: 0%;
}
option[value=''][disabled] {
  display: none;
}
option {
  background-color: white;
  padding: 14px 16px;
}
.optionBox {
  padding: 14px 16px;
}

// radio

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  color: $gray-400;
  font-family: Arial, sans-serif;
  transition: all 0.3s;
}

input[type='radio'] + label span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url('./RadioSelected.svg');
  transition: all 0.3s;
  cursor: pointer;
}

input[type='radio']:checked + label span {
  background: url('./Radio.svg');
}
