.sake-intro {
  width: 100%;
}

.sake-intro p {
  color: #7e8082;
}

.sake-intro h1,
.sake-intro h2,
.sake-intro h3 {
  font-family: 'Klee One', cursive;
  color: #3d4349;
}

.sake-intro .img-box {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("./../../../public/Sakeintro/sakepic271.jpg");
}

.sake-intro .sake-intro-container {
  position: relative;
  height: 220px;
}

@media (max-width: 768px) {
  .sake-intro .sake-intro-container {
    height: 350px;
  }
}

.sake-intro .sake-intro-container .sakeintro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -123px;
}

.sake-intro .sake-intro-container .sakeintro-content .word-box {
  width: 80%;
  padding-top: 182px;
  padding-right: 8%;
}

.sake-intro .sake-intro-container .sakeintro-content .big-title {
  width: 106px;
  padding-top: 50px;
  background-color: #f7f7f6;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.sake-intro .sake-intro-container .sakeintro-content .big-title h1 {
  margin: 30px;
  font-family: 'Klee One', cursive;
  font-size: 40px;
}

.sake-intro .sakeintro-title h2 {
  font-size: 36px;
}

.sake-intro .origin-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sake-intro .origin-content .ori-card {
  position: relative;
  margin: 3% 6%;
  min-width: 400px;
  height: 400px;
}

.sake-intro .origin-content .ori-card .pic {
  width: 70%;
  height: 190px;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 2;
  left: 0;
  -webkit-box-shadow: 3px 3px 5px #95a4b2d9;
          box-shadow: 3px 3px 5px #95a4b2d9;
}

.sake-intro .origin-content .ori-card .title {
  width: 25%;
  position: absolute;
  font-size: 35px;
  margin-right: 5%;
  height: 190px;
  z-index: 1;
  right: 0;
  top: 0px;
}

.sake-intro .origin-content .ori-card .title h3 {
  line-height: 100%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-top: 50px;
  margin: 55px auto;
  font-size: 40px;
  color: #4d4e4f;
}

.sake-intro .origin-content .ori-card p {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 190px;
  left: 0;
  padding: 15px 15%;
}

.sake-intro .origin-content .ori-card .card-bg {
  position: absolute;
  width: 95%;
  height: 360px;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.sake-intro .origin-content .ori-card .card-bg .front {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 0;
  left: 0;
  z-index: -2;
}

.sake-intro .origin-content .ori-card .card-bg .back {
  position: absolute;
  width: 90%;
  height: 90%;
  bottom: 0;
  right: 0;
  z-index: -3;
}

.sake-intro .origin-content .weather .pic {
  background-image: url("./../../../public/Sakeintro/sakepic271.jpg");
}

.sake-intro .origin-content .weather .card-bg {
  mix-blend-mode: multiply;
}

.sake-intro .origin-content .weather .card-bg .front {
  background: #e2ebf3;
}

.sake-intro .origin-content .weather .card-bg .back {
  background: repeating-linear-gradient(315deg, #505c68, #505c68 2px, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 11px);
}

.sake-intro .level-container {
  margin: 90px 0px;
  mix-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .sake-intro .level-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.sake-intro .level-container div {
  background-color: rgba(255, 255, 255, 0.548);
}

.sake-intro .level-container .level-box-l p,
.sake-intro .level-container .level-box-r p {
  font-size: 18px;
}

.sake-intro .level-container .level-box-l .ball,
.sake-intro .level-container .level-box-r .ball {
  min-width: 140px;
  height: 140px;
  margin: 10px 5px 5px 5px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sake-intro .level-container .level-box-l .ball,
  .sake-intro .level-container .level-box-r .ball {
    border-radius: 70px;
  }
}

.sake-intro .level-container .level-box-l .L1 div,
.sake-intro .level-container .level-box-l .L2 div,
.sake-intro .level-container .level-box-l .L3 div,
.sake-intro .level-container .level-box-l .L4 div,
.sake-intro .level-container .level-box-r .L1 div,
.sake-intro .level-container .level-box-r .L2 div,
.sake-intro .level-container .level-box-r .L3 div,
.sake-intro .level-container .level-box-r .L4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sake-intro .level-container .level-box-l .L1 .ball,
.sake-intro .level-container .level-box-l .L2 .ball,
.sake-intro .level-container .level-box-l .L3 .ball,
.sake-intro .level-container .level-box-l .L4 .ball,
.sake-intro .level-container .level-box-r .L1 .ball,
.sake-intro .level-container .level-box-r .L2 .ball,
.sake-intro .level-container .level-box-r .L3 .ball,
.sake-intro .level-container .level-box-r .L4 .ball {
  width: 140px;
  height: 140px;
  margin: 5px 5px;
}

.sake-intro .level-container .level-box-l {
  width: 150px;
  margin-right: 20px;
}

.sake-intro .level-container .level-box-l div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sake-intro .level-container .level-box-l .L1-1 {
  margin-top: 5px;
  height: 147px;
}

.sake-intro .level-container .level-box-l .L2-1 {
  height: 15px;
  background-color: #ffdb8a;
  border-radius: 30px;
  margin: 21px 0px;
}

.sake-intro .level-container .level-box-l .L3-1 {
  background-color: #ffdb8a;
  border-radius: 50%;
  line-height: 15px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .sake-intro .level-container .level-box-r {
    overflow-x: scroll;
  }
}

.sake-intro .level-container .level-box-r div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sake-intro .level-container .level-box-r .L0 {
  margin: 15px 0px;
  height: 15px;
  background-color: #e0e0df;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sake-intro .level-container .level-box-r .L1 .L1-2 {
  min-width: 140px;
  height: 80px;
  margin: 24px 5px 0px 5px;
}

.sake-intro .level-container .level-box-r .L1 .L1-2 img {
  height: 100%;
}

.sake-intro .level-container .level-box-r .L2 .L2-2 {
  min-width: 140px;
  margin: 10px 5px 0px 5px;
}

.sake-intro .level-container .level-box-r .L3 .L3-2 {
  background-color: #ffdb8a;
}

.sake-intro .level-container .level-box-r .L3 .L3-3 {
  min-width: 280px;
  background-color: #3d4349a6;
  border-radius: 150px;
  margin: 5px;
}

.sake-intro .level-container .level-box-r .L3 .L3-3 p {
  color: white;
}

.sake-intro .level-container .level-box-r .L4 .L4-2 {
  background-color: #e6c49e;
}

.sake-intro .level-container .level-box-r .L4 .L4-3 {
  background-color: #e0e0df;
}

.sake-intro .brew-container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .sake-intro .brew-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@-webkit-keyframes brewani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes brewani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sake-intro .brew-container .brew_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .sake-intro .brew-container .brew_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sake-intro .brew-container .brew-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0px;
}

.sake-intro .brew-container .brew-column .brew-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sake-intro .brew-container .brew-column .brew-box .item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sake-intro .brew-container .brew-column .brew-box .item-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 140px;
  margin: 20px 0;
}

.sake-intro .brew-container .brew-column .brew-box .item-img img {
  height: 100%;
  max-width: 250px;
}

.sake-intro .brew-container .brew-column .brew-box .item-word {
  max-width: 200px;
}

@media (max-width: 768px) {
  .sake-intro .brew-container .brew-column .brew-box .item-word {
    width: 350px;
  }
}

.sake-intro .brew-container .brew-column .arr-box {
  -webkit-animation-name: brewani;
          animation-name: brewani;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin: 44px 15px 0px 15px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

@media (max-width: 768px) {
  .sake-intro .brew-container .brew-column .arr-box {
    background-image: url("./../../../public/Sakeintro/ar01.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.sake-intro .brew-container .brew-column .arr-box img {
  visibility: inherit;
}

@media (max-width: 768px) {
  .sake-intro .brew-container .brew-column .arr-box img {
    visibility: hidden;
  }
}

.sake-intro .brew-container .brew-column .arr_1 {
  margin: -146px 15px 0px 15px;
}

@media (max-width: 768px) {
  .sake-intro .brew-container .brew-column .arr_1 {
    margin: 44px 15px 0px 15px;
  }
}
/*# sourceMappingURL=Sakeintro.css.map */