@import '../mixin.scss';

// body {
//   @include bgimage();
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   font-family: 'Noto Sans TC';
//   color: $primary;
// }

.sake-intro {
  .container {
    outline: 1px solid red;
  }
  p {
    color: $gray-300;
  }

  h1,
  h2,
  h3 {
    font-family: 'Klee One', cursive;
    color: $primary;
  }

  width: 100%;
  .img-box {
    min-height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url('./../../../public/Sakeintro/sakepic271.jpg');
  }

  .sake-intro-container {
    //outline: 3px solid purple;
    // max-width: 1200px;

    position: relative;
    height: 220px;
    @include medium() {
      //outline: 3px solid rgb(28, 92, 28);
      height: 350px;
    }

    .sakeintro-content {
      //outline: 1px solid blue;
      display: flex;
      position: absolute;
      top: -123px;

      .word-box {
        //outline: 1px solid rgb(196, 22, 167);
        width: 80%;
        padding-top: 182px;
        padding-right: 8%;
      }
      .big-title {
        //outline: 1px solid blue;
        width: 106px;
        padding-top: 50px;
        background-color: $white;
        writing-mode: vertical-lr;
        h1 {
          margin: 30px;
          font-family: 'Klee One', cursive;
          font-size: 40px;
        }
      }
    }
  }
  .sakeintro-title {
    //outline: 1px solid black;

    h2 {
      //outline: 1px solid rgb(196, 22, 167);

      font-size: 36px;
      //產地那兒 差裝飾線
    }
    p {
      //outline: 1px solid rgb(17, 100, 9);
    }
  }
  .origin-content {
    //outline: 3px solid rgb(122, 9, 94);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //暫定高度900px

    .ori-card {
      //outline: 3px solid rgb(180, 12, 12);
      position: relative;
      margin: 3% 6%;

      height: 400px;
      .pic {
        //outline: 3px solid rgb(230, 107, 6);
        width: 70%;
        height: 190px;
        background-position: center;
        background-size: cover;

        position: absolute;
        z-index: 2;
        left: 0;

        //陰影
        box-shadow: 3px 3px 5px #95a4b2d9;
      }
      .title {
        width: 25%;
        //outline: 3px solid rgb(255, 238, 4);
        position: absolute;
        font-size: 35px;
        margin-right: 5%;
        height: 190px;
        z-index: 1;
        right: 0;
        top: 0px;

        h3 {
          //outline: 3px solid rgb(119, 112, 10);
          line-height: 100%;
          writing-mode: vertical-lr;
          margin-top: 50px;
          margin: 55px auto;
          font-size: 40px;
          color: $gray-400;
        }
      }

      p {
        //outline: 3px solid rgb(2, 98, 26);
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 190px;
        left: 0;
        padding: 15px 15%;
      }
      .card-bg {
        //outline: 3px solid rgb(1, 70, 231);
        position: absolute;
        width: 95%;
        height: 360px;
        z-index: -1;
        bottom: 0;
        right: 0;

        .front {
          position: absolute;

          width: 95%;
          height: 95%;
          top: 0;
          left: 0;
          z-index: -2;
        }
        .back {
          position: absolute;

          width: 90%;
          height: 90%;
          bottom: 0;
          right: 0;
          z-index: -3;
        }
      }
    }
    .weather {
      .pic {
        background-image: url('./../../../public/Sakeintro/sakepic271.jpg');
      }
      .card-bg {
        mix-blend-mode: multiply;
        .front {
          background: #e2ebf3;
        }
        .back {
          background: repeating-linear-gradient(
            315deg,
            #505c68,
            #505c68 2px,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0) 11px
          );
        }
      }
    }
  }

  .level-container {
    margin: 90px 0px;
    mix-blend-mode: multiply;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    div {
      background-color: rgba(255, 255, 255, 0.548);
    }

    .level-box-l,
    .level-box-r {
      p {
        font-size: 18px;
      }
      .ball {
        width: 140px;
        height: 140px;
        margin: 10px 5px 5px 5px;
      }
      .L1,
      .L2,
      .L3,
      .L4 {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .ball {
          width: 140px;
          height: 140px;
          margin: 5px 5px;
        }
      }
    }

    .level-box-l {
      width: 150px;
      margin-right: 20px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .L1-1 {
        margin-top: 5px;
        height: 147px;
      }
      .L2-1 {
        height: 15px;
        background-color: $info;
        border-radius: 30px;
      }
      .L3-1 {
        background-color: $info;
        border-radius: 50%;
        line-height: 15px;
        padding-top: 10px;
      }
    }
    .level-box-r {
      div {
        display: flex;
      }
      .L0 {
        height: 15px;
        background-color: $gray-100;
        border-radius: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .L1 {
        .L1-2 {
          width: 140px;
          height: 80px;
          margin: 24px 5px 0px 5px;
          img {
            height: 100%;
          }
        }
      }
      .L2 {
        .L2-2 {
          width: 140px;
          margin: 10px 5px 0px 5px;
        }
      }
      .L3 {
        .L3-2 {
          background-color: $info;
          border-radius: 50%;
        }
        .L3-3 {
          width: 280px;
          background-color: #3d4349a6;
          border-radius: 150px;
          margin: 5px;
          p {
            color: white;
          }
        }
      }
      .L4 {
        .L4-2 {
          background-color: $success;
          border-radius: 50%;
        }
        .L4-3 {
          background-color: $gray-100;
          border-radius: 50%;
        }
      }
    }
  }
}
