@import '../mixin.scss';

* {
  outline: 0px solid #ccc !important;
}

body {
  @include bgimage();
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
  color: $primary;
}

.news {
  width: 100%;
  overflow: hidden;

  p {
    color: $gray-300;
  }

  h1,
  h2,
  h3 {
    font-family: 'Klee One', cursive;
    color: $primary;
  }

  .row {
    flex-direction: column;
  }

  .news-container {
    mix-blend-mode: multiply;
    max-width: 1200px;
    @include medium() {
      width: 100%;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 50;
    // background-color: rgba(138, 134, 170, 0.589);

    //超大標最新消息
    .news-title {
      outline: 2px solid #6b1a0f;
      @include kleeone();
      color: $gray-300;
      margin: 37px 0;
      z-index: 60;
    }
    //斜線背景
    .news-title ::after {
      position: absolute;
      z-index: 0;
      right: -120px;
      content: '';
      max-width: 450px;
      width: 45%;
      height: 100%;
      background: repeating-linear-gradient(
        50deg,
        $secondary,
        $secondary 3px,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 15px
      );
      opacity: 0.3;
      @include medium() {
        opacity: 0;
      }
    }
    //最新消息元件
    .news-item {
      outline: 2px solid #d0d31a;
      // background-color: rgba(44, 90, 48, 0.582);
      z-index: 70;
      display: flex;
      flex-direction: row-reverse;
      @include medium() {
        flex-direction: column;
      }
      //---------------------------------------------------------
      //圖片區塊

      .news-item-pic {
        mix-blend-mode: multiply;
        outline: 2px solid #dd6c8e;
        flex-grow: 1;

        .news-pic {
          outline: 4px solid #ca8910;
          height: 300px;
          @include medium() {
            height: 75px;
          }
          margin-top: 70px;
          position: relative;
          @include medium() {
            margin-top: 0px;
          }

          .news-item-pic-box {
            outline: 3px solid #381c25;
            width: 80%;
            position: absolute;
            z-index: 50;
            left: 0;
            @include medium() {
              width: 90%;
              left: -10%;
            }

            img {
              width: 100%;
              height: 170px;
              object-fit: cover;
              z-index: 55;
              isolation: isolate;
            }

            &::before {
              content: '';
              background-color: $success;
              width: 100%;
              height: 170px;
              position: absolute;
              right: -31px;
              @include medium() {
                height: 100px;
                width: 120%;
                right: -10%;
              }

              bottom: -28px;
              z-index: -1;

              mix-blend-mode: multiply;
            }
          }
        }
      }

      //文字區塊
      .news-item-word {
        outline: 2px solid #0f6b1e;
        width: 60%;
        padding: 70px 100px;
        @include medium() {
          width: 100%;
          padding: 80px 10px;
        }
        // display: flex;
        // flex-direction: column;
        .news-item-date {
          //厲害的功能
          width: fit-content;
          isolation: isolate;
          p {
            align-items: center;
            margin-bottom: 15px;
            padding: 0px 15px;
            background-color: $primary;
            color: $gray-100;
          }
          margin-bottom: 0px;
          @include medium() {
            margin-bottom: 40px;
          }
        }
        .news-item-title {
          outline: 2px solid #0f186b;
          margin-bottom: 5px;

          h3 {
            outline: 2px solid #17b4db;
            font-family: 'Klee One', cursive;
            font-size: 24px;
            color: $primary;
          }
        }
        .news-item-content {
          outline: 2px solid #6d19a5;
          color: $primary;
          p {
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 32px;
          }
        }
        .news-item-link {
          a {
            color: $gray-100;
            font-size: 14px;
          }
          p {
            color: $gray-200;
            font-size: 14px;
          }
        }
      }
    }
  }
}
