* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
}

.MobileFilterModal {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}

@media (max-width: 768px) {
  .MobileFilterModal {
    display: block;
  }
}

.MobileFilterModal .filter-modal {
  width: 100%;
  height: 100%;
  margin-top: 75px;
  padding-top: 50px;
  position: relative;
  background: url("/public/Sake-background0310.jpg");
}

.MobileFilterModal .filter-modal img.close-black {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

.MobileFilterModal .filter-modal .sidebar {
  width: 175px;
  height: fit-content;
  margin: 0 auto;
}

.MobileFilterModal .filter-modal .sidebar .second .filter {
  padding-bottom: 10px;
  border-bottom: 2px solid #bbbcbd;
}

.MobileFilterModal .filter-modal .sidebar .second .filter a {
  font-family: "Klee One", cursive;
  color: #3d4349;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
}

.MobileFilterModal .filter-modal .sidebar .second p {
  font-size: 12px;
  margin: 20px 30px;
  color: #4d4e4f;
  font-family: "Klee One", cursive;
}

.MobileFilterModal .filter-modal .sidebar .second .level {
  display: flex;
  flex-direction: column;
}

.MobileFilterModal .filter-modal .sidebar .second .level label {
  font-family: "Klee One", cursive;
  color: #7e8082;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
  position: relative;
  text-decoration: underline;
  transition: all 0.5s;
  cursor: pointer;
}

.MobileFilterModal .filter-modal .sidebar .second .level input {
  display: none;
}

.MobileFilterModal .filter-modal .sidebar .second .level input:checked + label {
  color: #202326;
}

.MobileFilterModal .filter-modal .sidebar .third a {
  font-family: "Klee One", cursive;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #202326;
}

.MobileFilterModal .filter-modal .sidebar .third p {
  font-size: 12px;
  margin: 20px 30px;
  color: #4d4e4f;
  font-family: "Klee One", cursive;
}

.MobileFilterModal .filter-modal .sidebar .third .price {
  display: flex;
  flex-direction: column;
}

.MobileFilterModal .filter-modal .sidebar .third .price label {
  font-family: "Klee One", cursive;
  color: gray;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
  position: relative;
  text-decoration: underline;
  transition: all 0.5s;
  cursor: pointer;
}

.MobileFilterModal .filter-modal .sidebar .third .price input {
  display: none;
}

.MobileFilterModal .filter-modal .sidebar .third .price input:checked + label {
  color: #202326;
}

.MobileFilterModal .filter-modal .sidebar .other p {
  font-size: 12px;
  margin: 20px 0 20px 30px;
  color: #4d4e4f;
  font-family: "Klee One", cursive;
}

.MobileFilterModal .filter-modal .sidebar .other .custum label {
  font-family: "Klee One", cursive;
  margin: 0 0 20px 30px;
  color: gray;
  font-size: 20px;
  text-decoration: underline;
  transition: all 0.5s;
  cursor: pointer;
}

.MobileFilterModal .filter-modal .sidebar .other .custum input {
  display: none;
}

.MobileFilterModal .filter-modal .sidebar .other .custum input:checked + label {
  color: #202326;
}
/*# sourceMappingURL=MobileFilterModal.css.map */