@import '../mixin.scss';


.MobileSortModal {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  animation: catbg 0.3s;
  transition: all 1s;
  @include medium(){
    display: block;
  }
  .sort-modal {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    padding-top: 50px;
    position: relative;
    transition: all 0.5s;
    animation: catmodal 0.3s;
    @include bgimage();
    img.close-black {
      position: absolute;
      top: 15px;
      right: 30px;
      cursor: pointer;
    }
    .title {
      width: 175px;
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      border-bottom: 2px solid $gray-200;
      padding-bottom: 10px;
      color: $primary;
      @include kleeone();
    }
    .sort {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      display: flex;
      align-items: center;
      .radio-container{
          display: flex;
           flex-direction: column;
           row-gap: 7px;
           label{
            font-size: 20px;
            @include kleeone();
           }
      }
    }
  }
}
