@import '../mixin.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
}

.MobileFilterModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9;

  display: none;
  animation: catbg 0.3s;
  transition: all 1s;
  @include medium() {
    display: block;
  }
  .filter-modal {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    transition: all 0.5s;
    animation: catmodal 0.3s;
    background-image: url('./../../../public/Sake-background0310.jpg');
    overflow: scroll;
    img.close-black {
      position: fixed;
      top: 90px;
      right: 30px;
      cursor: pointer;
    }
    
  }
}
