* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
}

.ProductList {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 300px;
  background: url("/public/Sake-background0310.jpg");
}

@media (max-width: 768px) {
  .ProductList {
    padding: 0 20px;
  }
}

.ProductList .product-container {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  z-index: 3;
  /* .sidebar {
      width: 175px;
      height: fit-content;
      margin-right: 30px;
      @include medium() {
        display: none;
      }
      .first {
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 2px solid $gray-200;

        ul {
          margin-left: 30px;
          li {
            list-style: none;
            &:first-child a {
              color: $primary;
            }
            a {
              @include kleeone();
              color: $gray-300;
              text-decoration: none;
              margin-bottom: 16px;
              font-size: 20px !important;
            }
          }
        }
      }
      .second {
        .filter {
          padding-bottom: 10px;
          border-bottom: 2px solid $gray-200;
          a {
            @include kleeone();
            color: $primary;
            margin-left: 30px;
            font-size: 20px;
            text-decoration: none;
          }
        }
        p {
          font-size: 12px;

          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .level {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: $gray-300;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .third {
        a {
          @include kleeone();
          margin-left: 30px;
          font-size: 20px;
          text-decoration: none;
          color: $black;
        }
        p {
          font-size: 12px;
          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .price {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: gray;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .other {
        p {
          font-size: 12px;
          margin: 20px 0 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .custum {
          label {
            @include kleeone();
            margin: 0 0 20px 30px;
            color: gray;
            font-size: 20px;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
    } */
}

.ProductList .product-container .bgele1,
.ProductList .product-container .bgele2 {
  position: absolute;
  z-index: 0;
}

@media (max-width: 768px) {
  .ProductList .product-container .bgele1,
  .ProductList .product-container .bgele2 {
    display: none;
  }
}

.ProductList .product-container .bgele1 {
  top: 10%;
  right: -200px;
}

@media (max-width: 1440px) {
  .ProductList .product-container .bgele1 {
    right: -42%;
  }
}

@media (max-width: 1024px) {
  .ProductList .product-container .bgele1 {
    right: -70%;
  }
}

.ProductList .product-container .bgele2 {
  top: 50%;
  left: -20%;
}

@media (max-width: 1440px) {
  .ProductList .product-container .bgele2 {
    left: -40%;
  }
}

@media (max-width: 1024px) {
  .ProductList .product-container .bgele2 {
    left: -60%;
  }
}

.ProductList .product-container .main {
  border-top: 2px solid #bbbcbd;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main {
    border: none;
    display: block;
  }
}

.ProductList .product-container .main .center-container {
  width: 100%;
  height: fit-content;
}

.ProductList .product-container .main .center-container .search-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .search-bar {
    display: none;
  }
}

.ProductList .product-container .main .center-container .search-bar .select select {
  margin-right: 10px;
  background-color: transparent;
  border-color: #4d4e4f;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  color: #4d4e4f;
}

@media (max-width: 1024px) {
  .ProductList .product-container .main .center-container .search-bar .select select {
    width: 120px;
  }
}

.ProductList .product-container .main .center-container .search-bar .select select:focus {
  outline: none;
}

.ProductList .product-container .main .center-container .search-bar .search img {
  margin-right: 3px;
  margin-bottom: -10px;
}

.ProductList .product-container .main .center-container .search-bar .search input {
  width: 150px;
  border: none;
  border-bottom: 2px solid #7e8082;
  background-color: transparent;
  font-size: 18px;
}

.ProductList .product-container .main .center-container .search-bar .search input:focus {
  outline: none;
}

.ProductList .product-container .main .center-container .mobile-search-bar {
  display: none;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .mobile-search-bar {
    display: flex;
  }
}

.ProductList .product-container .main .center-container .mobile-search-bar div {
  width: 25%;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ProductList .product-container .main .center-container .mobile-search-bar div div {
  width: 100%;
}

.ProductList .product-container .main .center-container .mobile-search-bar div .title {
  color: #7e8082;
  font-size: 13;
  font-weight: 700;
}

.ProductList .product-container .main .center-container .mobile-search-bar div .state {
  margin: 0;
  font-size: 15px;
  color: #7e8082;
}

.ProductList .product-container .main .center-container .mobile-search-bar .cat,
.ProductList .product-container .main .center-container .mobile-search-bar .sort,
.ProductList .product-container .main .center-container .mobile-search-bar .filter,
.ProductList .product-container .main .center-container .mobile-search-bar .compare {
  position: relative;
}

.ProductList .product-container .main .center-container .mobile-search-bar .cat::before,
.ProductList .product-container .main .center-container .mobile-search-bar .sort::before,
.ProductList .product-container .main .center-container .mobile-search-bar .filter::before,
.ProductList .product-container .main .center-container .mobile-search-bar .compare::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: #bbbcbd;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ProductList .product-container .main .center-container .mobile-search-bar .compare::before {
  background: transparent;
}

.ProductList .product-container .main .center-container .famous-choose {
  padding-top: 20px;
}

.ProductList .product-container .main .center-container .famous-choose .famous-title {
  font-family: "Klee One", cursive;
  font-size: 24px;
  font-weight: 600;
  margin-left: 43px;
  position: relative;
}

.ProductList .product-container .main .center-container .famous-choose .famous-title img {
  width: 80px;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.8;
  left: -46px;
  top: -14px;
}

.ProductList .product-container .main .center-container .famous-choose .product-container {
  border-bottom: 1px solid #bbbcbd;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product {
    width: 49%;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap {
  width: 100%;
  text-align: center;
  background-color: rgba(247, 247, 246, 0.63);
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap {
    padding: 10px 5px 5px 5px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap img.product-img {
  height: 190px;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap img.product-img {
    height: 120px;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .tag-img img {
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .tag-img img {
    top: 6%;
    right: 7%;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .compare {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .compare img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .compare img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .compare p {
  color: #bbbcbd;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .compare p {
    font-size: 12px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart {
    margin-top: 5px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart img {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart img {
    width: 18px;
    height: 17px;
    margin-left: 12px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart .heart {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .product-wrap .icon .cart-heart .heart {
    width: 21px;
    height: 21px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .title p {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .title p {
    font-size: 15px;
  }
}

.ProductList .product-container .main .center-container .famous-choose .product-container .product .title p.price {
  margin-bottom: 10px;
  font-size: 16px;
  color: #e6c49e;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .famous-choose .product-container .product .title p.price {
    font-size: 15px;
  }
}

.ProductList .product-container .main .center-container .master-recommend {
  padding-top: 20px;
}

.ProductList .product-container .main .center-container .master-recommend .master-title {
  font-family: "Klee One", cursive;
  font-size: 24px;
  font-weight: 600;
  margin-left: 43px;
  position: relative;
}

.ProductList .product-container .main .center-container .master-recommend .master-title img {
  width: 80px;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.8;
  left: -46px;
  top: -14px;
}

.ProductList .product-container .main .center-container .master-recommend .product-container {
  border-bottom: 1px solid #bbbcbd;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product {
    width: 48%;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap {
  width: 100%;
  text-align: center;
  background-color: rgba(247, 247, 246, 0.63);
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap {
    padding: 10px 5px 5px 5px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap img.product-img {
  height: 190px;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap img.product-img {
    height: 120px;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .tag-img img {
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .tag-img img {
    top: 6%;
    right: 7%;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .compare {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .compare img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .compare img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .compare p {
  color: #bbbcbd;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .compare p {
    font-size: 12px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart {
    margin-top: 5px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart img {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart img {
    width: 18px;
    height: 17px;
    margin-left: 12px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart .heart {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .product-wrap .icon .cart-heart .heart {
    width: 21px;
    height: 21px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .title p {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .title p {
    font-size: 15px;
  }
}

.ProductList .product-container .main .center-container .master-recommend .product-container .product .title p.price {
  margin-bottom: 10px;
  font-size: 16px;
  color: #e6c49e;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .master-recommend .product-container .product .title p.price {
    font-size: 15px;
  }
}

.ProductList .product-container .main .center-container .product-list {
  padding-top: 20px;
}

.ProductList .product-container .main .center-container .product-list .product-title {
  font-family: "Klee One", cursive;
  font-size: 24px;
  font-weight: 600;
  margin-left: 43px;
  position: relative;
}

.ProductList .product-container .main .center-container .product-list .product-title img {
  width: 80px;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.8;
  left: -46px;
  top: -14px;
}

.ProductList .product-container .main .center-container .product-list .product-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}

.ProductList .product-container .main .center-container .product-list .product-container .product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product {
    width: 48%;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap {
  width: 100%;
  text-align: center;
  background-color: rgba(247, 247, 246, 0.63);
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap {
    padding: 10px 5px 5px 5px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap img.product-img {
  height: 190px;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap img.product-img {
    height: 120px;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .tag-img img {
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .tag-img img {
    top: 6%;
    right: 7%;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .compare {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .compare img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .compare img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .compare p {
  color: #bbbcbd;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .compare p {
    font-size: 12px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart {
    margin-top: 5px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart img {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart img {
    width: 18px;
    height: 17px;
    margin-left: 12px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart .heart {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .product-wrap .icon .cart-heart .heart {
    width: 21px;
    height: 21px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .title p {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .title p {
    font-size: 15px;
  }
}

.ProductList .product-container .main .center-container .product-list .product-container .product .title p.price {
  margin-bottom: 10px;
  font-size: 16px;
  color: #e6c49e;
}

@media (max-width: 768px) {
  .ProductList .product-container .main .center-container .product-list .product-container .product .title p.price {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .ProductList .product-container .main .compare-block {
    display: none;
  }
}

.ProductList .product-container .main .compare-block .compare-wrap {
  display: flex;
  flex-direction: column;
  width: 175px;
  padding: 35px 30px 30px 30px;
  height: fit-content;
  margin-top: 23px;
  border: 1px solid #828282;
  align-items: center;
  position: relative;
}

.ProductList .product-container .main .compare-block .compare-wrap .product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ProductList .product-container .main .compare-block .compare-wrap .product img {
  height: 100px;
  z-index: 1;
}

.ProductList .product-container .main .compare-block .compare-wrap .product p {
  width: 80px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}

.ProductList .product-container .main .compare-block .compare-wrap .product .shadow {
  position: absolute;
  width: 28px;
  height: 5px;
  border-radius: 50%;
  background-color: #202326;
  top: 96px;
  filter: blur(3px);
}

.ProductList .product-container .main .compare-block .compare-wrap .product .remove {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.ProductList .product-container .main .compare-block .compare-wrap button.compare {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
/*# sourceMappingURL=ProductList.css.map */