@import '../mixin.scss';
.RestaurantList {
  .cluster-marker {
    color: #fff;
    background-size: cover;
    background-image: url(./../../../public/restaurant/cup.svg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-marker {
    background: none;
    border: none;
  }

  .single-marker img {
    width: 25px;
  }
}
