@import '../../mixin.scss';

.subData {
  width: 100%;
  margin: 0 auto;
  display: flex;

  table {
    width: 100%;


    thead {
      width: 100%;
      border-bottom: 2px solid #bbbcbd;

      tr {
        //width: 100%;
        //vertical-align: center;
        th {
          padding-left: 32px;
          padding-right: 50px;
          //width: 25%;
          //font-size: 14px;
          padding-bottom: 24px;
        }
      }
    }

    tbody {
      width: 100%;

      tr {
        //width: 907px;
        padding: 20px;
        border-bottom: 2px solid #bbbcbd;

        td {
          max-width: 150px;
          text-align: center;
          font-size: 14px;
          height: 62px;
        }

        button {
         // width: 108%;
         // margin: 8px 8px;
        }
      }
    }

  }
}
