@import '../mixin.scss';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
  color: $primary;
}

.home {
  // .Guide 和 .loca都是為了解決位置的問題，在這2個地方改就可以了，記得順便看 mobile的版本
  // position: sticky 會因為父層用 overflow:hidden等問題不能用

  .Guide {
    position: sticky;
    top: 100px;
    width: fit-content;
    height: 150px;
    z-index: 10;
    @include medium() {
      display: none;
    }

    .loca {
      position: absolute;
      top: 15px;
      left: 85vw;

      .arround {
        position: absolute;
        top: 0px;
        left: 118px;
        p {
          @include kleeone();
          color: $gray-300;
          font-size: 23px;
          line-height: 33px;
          position: absolute;
        }
        .first {
          top: 15px;
          right: 95px;
        }
        .sen {
          top: 0;
          right: 65px;
        }
        .thr {
          right: 35px;
        }
        .four {
          top: 15px;
          right: 5px;
        }
        .trian {
          position: absolute;
          top: 55px;
          right: -10px;
        }
      }
      .round {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid $primary;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: url('../../../public/Sake-background0310.jpg');
        &:hover {
          .sake {
            animation: rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s
              infinite normal none;
          }
        }
      }
    }
  }

  position: relative;
  //線條
  .wave-line[data-v-c0cb0066] {
    // //outline: 2px solid red;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -70px;
    pointer-events: none;
  }

  .wave-line .inner[data-v-c0cb0066] {
    width: 2000px;
    height: 400px;
    transform: scaleX(4) rotate(0deg);
  }

  .wave-line .line[data-v-c0cb0066] {
    opacity: 1;
    position: absolute;
    left: 511px;
    top: 170px;
    width: 1000px;
    height: 1200px;
    border: 1px solid $success;
    border-radius: 24%;
    transform-origin: 50% 49%;
    -webkit-animation: wave-data-v-c0cb0066 24s linear infinite;
    animation: wave-data-v-c0cb0066 300s linear infinite;
  }

  .wave-line .line[data-v-c0cb0066]:first-of-type {
    border: 1px dotted $primary;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(2) {
    border-color: $success;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(3) {
    opacity: 0;
    border-width: 2px;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(10) {
    border-radius: 30%;
    -webkit-animation-duration: 24.2s;
    animation-duration: 24.2s;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(10) {
    border-radius: 36%;
    -webkit-animation-duration: 600s;
    animation-duration: 600s;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(2) {
    -webkit-animation-duration: 36s;
    animation-duration: 36s;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(3) {
    border-radius: 30%;
    -webkit-animation-duration: 18.2s;
    animation-duration: 18.2s;
  }

  .wave-line .line[data-v-c0cb0066]:nth-of-type(6) {
    border-radius: 36%;
    -webkit-animation-duration: 18.4s;
    animation-duration: 18.4s;
  }

  @media (max-width: 767px) {
    .wave-line .inner[data-v-c0cb0066] {
      position: relative;
      left: 400px;
    }
  }

  @media (min-width: 1920px) {
    .wave-line[data-v-c0cb0066] {
      right: calc((100vw - 1920px) / 2);
    }
  }

  @-webkit-keyframes wave-data-v-c0cb0066 {
    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(1turn);
    }
  }

  @keyframes wave-data-v-c0cb0066 {
    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(1turn);
    }
  }

  //線條
  p {
    color: $gray-300;
    font-family: 'Klee One';
    b {
      font-family: 'Klee One';
    }
  }

  h1,
  h2,
  h3 {
    font-family: 'Klee One', cursive;
    color: $primary;
  }

  .news-box,
  .intro-box,
  .sub-box {
    .home-title {
      margin-left: 10px;
      writing-mode: vertical-lr;
      padding-right: 10px;
      font-size: 40px;
      width: 41px;
      position: relative;
      // news-title

      h3 {
        position: absolute;
      }

      svg {
        right: -2px;
        top: 11px;
        position: absolute;
        mix-blend-mode: multiply;
        opacity: 40%;
      }

      .sec {
        path {
          fill: $secondary;
        }
      }

      .suc {
        path {
          fill: $success;
        }
      }

      .inf {
        path {
          fill: $info;
        }
      }
    }
  }
  .logo_1 {
    position: relative;
    .logo {
      position: absolute;
      left: 60%;
      top: 13px;
      width: 200px;
      height: auto;
      img {
        width: 100%;
      }
    }
  }

  .homeimg {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }
  .news-box {
    margin-top: 140px;
    display: flex;
    .news-img {
      max-width: 513px;
      width: 35%;
      height: 184px;
      // background-color: #562;
      margin-right: 30px;
      @include large() {
        width: 0px;
        height: 0px;
        margin-right: 0px;
      }
      img {
        width: 100%;
      }
    }

    .news-content {
      flex-grow: 1;
      .news-item {
        display: flex;
        font-size: 18px;
        .news-item-date {
          margin-right: 30px;
        }
        .news-item-title {
          width: 100px;
          flex-grow: 1;
        }
      }
    }

    .news-title {
      margin-left: 20px;
      writing-mode: vertical-lr;
      padding-right: 20px;
      font-size: 40px;

      h3 {
      }
    }
  }
  .container_home {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    @include medium() {
      justify-content: space-evenly;
    }
  }

  .intro-box {
    margin-top: 100px;
    .intro-img {
      width: 100%;
      height: 800px;
      background-image: url('../../../public/Home/Home-w02.png');
      background-size: 100%;
      background-repeat: no-repeat;

      @include medium() {
        height: 900px;
        background-image: url('../../../public/Home/Home-m02.png');
      }
    }
  }

  .brew-container {
    min-width: 100%;
    ////outline: 3px solid rgb(231, 1, 1);
    display: flex;
    flex-direction: column;

    align-items: flex-end;

    @include medium() {
      justify-content: center;
    }

    @keyframes brewani {
      0% {
        // transform: translateY(-10px);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        // transform: translateY(0px);
        opacity: 0;
      }
    }

    .brew_2 {
      flex-direction: row-reverse;
      @include medium() {
        flex-direction: row;
      }
    }

    .brew-column {
      display: flex;
      margin: 55px 17px;
      justify-content: space-evenly;
      width: 100%;
      padding-left: 42px;
      @include medium() {
        display: flex;
        margin: 55px 17px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      //outline: 3px solid rgb(248, 135, 42);
      .brew-box {
        //outline: 3px solid rgb(250, 246, 17);
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-title {
          //outline: 3px solid rgb(27, 100, 9);
          width: fit-content;
          .rice {
            //outline: 3px solid rgb(1, 70, 231);
          }
          .title {
            //outline: 3px solid rgb(46, 128, 123);
            h3 {
              //outline: 3px solid rgb(231, 1, 212);
            }
          }
        }
        .item-img {
          //outline: 3px solid rgb(131, 62, 91);
          width: fit-content;
          height: 140px;
          margin: 20px 0;

          img {
            //outline: 3px solid rgb(99, 124, 71);
            height: 100%;
            max-width: 250px;
          }
        }
      }
      .arr-box {
        animation-name: brewani;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-delay: 1s;
        //outline: 3px solid rgb(97, 57, 5);
        margin: 44px 0px 0px 0px;
        transform: scale(0.5, 0.5);
        @include medium() {
          background-image: url('./../../../public/Sakeintro/ar08.svg');
          background-repeat: no-repeat;
          background-position: top center;
          margin: 0px;
          padding: 6px;
        }

        img {
          visibility: inherit;
          @include medium() {
            visibility: hidden;
            transform: scale(0.5, 0.5);
          }
        }
      }
      .arr_1 {
        margin: -146px 15px 0px 15px;
        @include medium() {
          margin: 44px 15px 0px 15px;
        }
      }
    }
  }

  .sub-box {
    //outline: 2px solid #707;
    margin-top: 100px;
    .sub-img {
      //outline: 2px solid #700;
      position: relative;
      width: 100%;
      @include medium() {
        overflow: hidden;
      }
      .sub-img-box {
        position: absolute;
        width: 50%;
        height: 400px;
        overflow: hidden;
        @include medium() {
          position: relative;
          width: 150%;
          height: 370px;
        }

        img {
          width: 100%;
        }
      }
    }
    .sub-word {
      //outline: 2px solid #357;
      height: 400px;
      display: flex;
      .sub-word-content-1 {
        width: 53%;
        @include medium() {
          width: 0px;
        }
      }
      .sub-word-content {
        //outline: 2px solid rgb(119, 51, 113);
        padding-left: 33px;
        p {
          padding-left: 6px;
          font-size: 23px;
          b {
            text-combine-upright: all;
          }
        }
        writing-mode: vertical-rl;
      }
    }
  }
}
