body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC';
  color: #3d4349;
}

.home {
  position: relative;
}

.home .Guide {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 150px;
  z-index: 10;
}

@media (max-width: 768px) {
  .home .Guide {
    display: none;
  }
}

.home .Guide .loca {
  position: absolute;
  top: 15px;
  left: 85vw;
}

.home .Guide .loca .arround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .Guide .loca .arround p {
  font-family: "Klee One", cursive;
  color: #7e8082;
  font-size: 23px;
  line-height: 33px;
  position: absolute;
}

.home .Guide .loca .arround .first {
  top: 15px;
  right: 95px;
}

.home .Guide .loca .arround .sen {
  top: 0;
  right: 65px;
}

.home .Guide .loca .arround .thr {
  right: 35px;
}

.home .Guide .loca .arround .four {
  top: 15px;
  right: 5px;
}

.home .Guide .loca .arround .trian {
  position: absolute;
  top: 55px;
  right: -10px;
}

.home .Guide .loca .round {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #3d4349;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: url("../../../public/Sake-background0310.jpg");
}

.home .Guide .loca .round:hover .sake {
  -webkit-animation: rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal none;
          animation: rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal none;
}

.home .wave-line[data-v-c0cb0066] {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -70px;
  pointer-events: none;
}

.home .wave-line .inner[data-v-c0cb0066] {
  width: 2000px;
  height: 400px;
  -webkit-transform: scaleX(4) rotate(0deg);
          transform: scaleX(4) rotate(0deg);
}

.home .wave-line .line[data-v-c0cb0066] {
  opacity: 1;
  position: absolute;
  left: 511px;
  top: 170px;
  width: 1000px;
  height: 1200px;
  border: 1px solid #e6c49e;
  border-radius: 24%;
  -webkit-transform-origin: 50% 49%;
          transform-origin: 50% 49%;
  -webkit-animation: wave-data-v-c0cb0066 24s linear infinite;
  animation: wave-data-v-c0cb0066 300s linear infinite;
}

.home .wave-line .line[data-v-c0cb0066]:first-of-type {
  border: 1px dotted #3d4349;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(2) {
  border-color: #e6c49e;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(3) {
  opacity: 0;
  border-width: 2px;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(10) {
  border-radius: 30%;
  -webkit-animation-duration: 24.2s;
  animation-duration: 24.2s;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(10) {
  border-radius: 36%;
  -webkit-animation-duration: 600s;
  animation-duration: 600s;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(2) {
  -webkit-animation-duration: 36s;
  animation-duration: 36s;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(3) {
  border-radius: 30%;
  -webkit-animation-duration: 18.2s;
  animation-duration: 18.2s;
}

.home .wave-line .line[data-v-c0cb0066]:nth-of-type(6) {
  border-radius: 36%;
  -webkit-animation-duration: 18.4s;
  animation-duration: 18.4s;
}

@media (max-width: 767px) {
  .home .wave-line .inner[data-v-c0cb0066] {
    position: relative;
    left: 400px;
  }
}

@media (min-width: 1920px) {
  .home .wave-line[data-v-c0cb0066] {
    right: calc((100vw - 1920px) / 2);
  }
}

@-webkit-keyframes wave-data-v-c0cb0066 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes wave-data-v-c0cb0066 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.home p {
  color: #7e8082;
  font-family: 'Klee One';
}

.home p b {
  font-family: 'Klee One';
}

.home h1,
.home h2,
.home h3 {
  font-family: 'Klee One', cursive;
  color: #3d4349;
}

.home .news-box .home-title,
.home .intro-box .home-title,
.home .sub-box .home-title {
  margin-left: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding-right: 10px;
  font-size: 40px;
  width: 41px;
  position: relative;
}

.home .news-box .home-title h3,
.home .intro-box .home-title h3,
.home .sub-box .home-title h3 {
  position: absolute;
}

.home .news-box .home-title svg,
.home .intro-box .home-title svg,
.home .sub-box .home-title svg {
  right: -2px;
  top: 11px;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 40%;
}

.home .news-box .home-title .sec path,
.home .intro-box .home-title .sec path,
.home .sub-box .home-title .sec path {
  fill: #d26d54;
}

.home .news-box .home-title .suc path,
.home .intro-box .home-title .suc path,
.home .sub-box .home-title .suc path {
  fill: #e6c49e;
}

.home .news-box .home-title .inf path,
.home .intro-box .home-title .inf path,
.home .sub-box .home-title .inf path {
  fill: #ffdb8a;
}

.home .logo_1 {
  position: relative;
}

.home .logo_1 .logo {
  position: absolute;
  left: 60%;
  top: 13px;
  width: 200px;
  height: auto;
}

.home .logo_1 .logo img {
  width: 100%;
}

.home .homeimg {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.home .news-box {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .news-box .news-img {
  max-width: 513px;
  width: 35%;
  height: 184px;
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .home .news-box .news-img {
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
}

.home .news-box .news-img img {
  width: 100%;
}

.home .news-box .news-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .news-box .news-content .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.home .news-box .news-content .news-item .news-item-date {
  margin-right: 30px;
}

.home .news-box .news-content .news-item .news-item-title {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .news-box .news-title {
  margin-left: 20px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding-right: 20px;
  font-size: 40px;
}

.home .container_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .home .container_home {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.home .intro-box {
  margin-top: 100px;
}

.home .intro-box .intro-img {
  width: 100%;
  height: 800px;
  background-image: url("../../../public/Home/Home-w02.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .home .intro-box .intro-img {
    height: 900px;
    background-image: url("../../../public/Home/Home-m02.png");
  }
}

.home .brew-container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .home .brew-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes brewani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes brewani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home .brew-container .brew_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .home .brew-container .brew_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .brew-container .brew-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 17px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-left: 42px;
}

@media (max-width: 768px) {
  .home .brew-container .brew-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 55px 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home .brew-container .brew-column .brew-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .brew-container .brew-column .brew-box .item-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home .brew-container .brew-column .brew-box .item-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 140px;
  margin: 20px 0;
}

.home .brew-container .brew-column .brew-box .item-img img {
  height: 100%;
  max-width: 250px;
}

.home .brew-container .brew-column .arr-box {
  -webkit-animation-name: brewani;
          animation-name: brewani;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin: 44px 0px 0px 0px;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

@media (max-width: 768px) {
  .home .brew-container .brew-column .arr-box {
    background-image: url("./../../../public/Sakeintro/ar08.svg");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0px;
    padding: 6px;
  }
}

.home .brew-container .brew-column .arr-box img {
  visibility: inherit;
}

@media (max-width: 768px) {
  .home .brew-container .brew-column .arr-box img {
    visibility: hidden;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

.home .brew-container .brew-column .arr_1 {
  margin: -146px 15px 0px 15px;
}

@media (max-width: 768px) {
  .home .brew-container .brew-column .arr_1 {
    margin: 44px 15px 0px 15px;
  }
}

.home .sub-box {
  margin-top: 100px;
}

.home .sub-box .sub-img {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .home .sub-box .sub-img {
    overflow: hidden;
  }
}

.home .sub-box .sub-img .sub-img-box {
  position: absolute;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home .sub-box .sub-img .sub-img-box {
    position: relative;
    width: 150%;
    height: 370px;
  }
}

.home .sub-box .sub-img .sub-img-box img {
  width: 100%;
}

.home .sub-box .sub-word {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .sub-box .sub-word .sub-word-content-1 {
  width: 53%;
}

@media (max-width: 768px) {
  .home .sub-box .sub-word .sub-word-content-1 {
    width: 0px;
  }
}

.home .sub-box .sub-word .sub-word-content {
  padding-left: 33px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.home .sub-box .sub-word .sub-word-content p {
  padding-left: 6px;
  font-size: 23px;
}

.home .sub-box .sub-word .sub-word-content p b {
  text-combine-upright: all;
}
/*# sourceMappingURL=Home.css.map */