@import './../../styles/mixin.scss';
@mixin exlarge {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 320px) {
    @content;
  }
}

.color_group {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .color_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0 16px;
    margin: 0 5px;

    &:hover {
      transform: translateY(-15px);
      transition: 0.5s;
      img {
        filter: drop-shadow(4px 4px 0.15rem $gray-300);
      }
      small {
        display: block;
      }
    }
    @include medium() {
      img {
        transform: translateY(-5px);
      }
    }

    small {
      display: none;
      margin-top: 10px;
      color: $gray-300;
      @include medium() {
        display: block;
        margin: 0%;
      }
    }
  }
}

.gift_image {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include medium() {
    height: 400px;
    overflow: hidden;
  }
  .box01 {
    height: 450px;
    @include medium(){
        height: 335px;
    }
  }

  .sake01 {
    height: 320px;
    position: absolute;
    margin: auto;
    left: calc(50% - 113px);
    @include medium(){
      height: 225px;
      top: calc(50% - 115px);
      left: calc(50% - 83px);
    }
  }
}
.confirm {
  width: 100%;
  display: flex;
  justify-content: center;
}
