@import './../../styles/mixin.scss';

.modal{
    background: url('../../../public/Sake-background0310.jpg');
    position: fixed;
    top:20vh;
    left: calc(50% - 15rem);
    z-index: 30;
    width: 30rem;
    padding: 1rem;

    .close{
        background: url('../../../public/Gift/close-white.svg');
        width: 30px;
        height: 30px;
    }
    .header{
        font-size: 32px;
        font-weight: 700;
        color: $primary;
    }
    .content{
        font-size: 24px;
        line-height: 36px;
        color: $gray-400;
    }
    .local{
        width: 100%;
        .confirm{}
    }
}