@import './../../styles/mixin.scss';
@mixin exlarge {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 320px) {
    @content;
  }
}

.gift_sake {
  @include medium() {
    padding: 0;
  }

  .sake_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    cursor: pointer;
    @include medium() {
      padding: 0%;
    }

    &:hover {
      .original {
        display: none;
      }
      .trans {
        display: block;
      }
    }

    .original {
      height: 175px;
      filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
    }
    .trans {
      display: none;
      position: relative;
      .box {
        height: 175px;
      }
      .sake1 {
        height: 150px;
        position: absolute;
        left: calc(50% - 23px);
        top: 18px;
      }
      .sake2 {
        height: 155px;
        position: absolute;
        top: 13px;
        left: 15px;
      }
      .sake_con {
        height: 150px;
        position: absolute;
        top: 13px;
        left: calc(50% - 2px);
      }
    }

    .name {
      font-size: 18px;
      margin-top: 10px;
      // width: 100%;
    }

    small {
      font-size: 14px;
      font-weight: 700;
      color: $gray-200;
      margin-top: 5px;
    }
    @include medium() {
      .original {
        height: 155px;
      }
      .name {
        color: $primary;
        font-size: 17px;
        line-height: 30px;
      }
      small {
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
      }
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    .cancel {
      background-color: transparent;
      border: none;
      span {
        margin-left: 5px;
      }
    }
  }
}
