@import '../mixin.scss';
* {
  // border: 1px blue solid;
  margin: 0;
  padding: 0;
}
.SubTime {
  margin-bottom: 100px;
  position: relative;
  @include large() {
    margin-bottom: 100px;
  }
  img.LineBg {
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 66px;
  }

  .container {
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    .progressBar {
      @include medium() {
        width: 300px;
      }
    }

    .main {
      //min-width: 1130px;
      //min-height: 475px;
      width: 100%;
      background-color: rgba(247, 247, 246, 0.75);
      padding: 48px 58px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 38px;
      @include large() {
        align-items: center;
        padding: 0;
        flex-direction: column;
      }
      .left-planInfo {
        width: 34%;
        display: flex;
        flex-direction: column;
        @include large() {
          width: 100%;
          text-align: center;
        }
        h4 {
          @include kleeone;
          color: $dark;
          font-size: 30px;
          font-weight: 600;
        }
        h5 {
          font-weight: 500;
          font-size: 18px;
          color: $primary;
        }
        p {
          //width: 72%;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: $gray-300;
          span {
            color: $dark;
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
      .right-planChoices {
        width: 53.36%;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        //   planChoice Card ---
        @include large() {
          flex-direction: column;
          align-items: center;
          row-gap: 50px;
        }
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      
      column-gap: 16px;
      justify-content: flex-end;
      @include large(){
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        row-gap: 20px;
        button{
          width: 220px;
          height: 40px;
          line-height: 0;
          font-size: 17px;
        }
      }
    }
  }
}
