@import "../../mixin.scss";

.AddressBox {
  padding-top: 2.5%;
  padding-left: 4.5%;
  height: 600px;

  .AddressFileName {
    font-weight: 700;
  }
  .mobileTitle {
    margin-left: 20%;
  }

  .AddressBox-Item {
    display: flex;

    .dropDown-city {

    }
    .input-lastName {
      width: 147px;
    }
    .input-firstName {
      width: 226px;
    }
    .input-mobile {
      width: 175px;
      margin-left: 2.5%;
    }
    .input-zip {
      width: 135px;
      margin-left: 1%;
    }
    .input-address {
      width: 548px;
    }
  }
}