@import "../../mixin.scss";

.PassBox {
  padding-top: 3.5%;
  padding-left: 4.5%;
  height: 600px;

  .updateNPassForm {
    margin-left: 15px;

    .PassBoxOld {

    }

    .PassBoxNew {
      position: relative;

      .passHideIcon {
        position: absolute;
        top: 43px;
        left: 275px;

        img {
          width: 40px;
          height: 30px;
        }
      }
    }

    .PassBoxConfNew {

    }
  }
}