@import '../../mixin.scss';

.ProfileBox {
  padding-top: 2.5%;
  padding-left: 4.5%;
  height: 600px;
  @include medium() {
    padding-left: 0;
  }

  .ProfileBox-Item {
    height: 74px;
    margin-bottom: 25px !important;
    

    @include large() {
      input {
        width: 100%;
      }
    }
  }
  .ProfileBox-Item-Last {
    column-gap: 22px;
    display: flex;
    width: 100%;
    @include large() {
      column-gap: 8px;
    }
    .birthday {
      display: flex;
      flex-direction: column;

      @include large() {
        width: 33%;
      }
      select {
        width: 106px;
        @include large() {
          width: 100%;
        }
      }
    }
  }
  .profile-btn {
    margin-top: 2%;
    @include large() {
      width: 100%;
    }
  }
}
