@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}

.ProductDetail {
  button.cart {
    font-size: 14px;
    display: flex;
    align-items: center;
    z-index: 3;
    margin-left: auto;
    img {
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }
}

.CompareModal {
  button {
    @include medium() {
      width: 96px;
      height: 40px;
      font-size: 14;
      font-weight: 500;
      padding: 0 5px 0 5px;
    }
  }
}
