@media (max-width: 1024px) {
  .ProductDetail .compare-block {
    display: none;
  }
}

.ProductDetail .compare-block .compare-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  padding: 35px 30px 30px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 23px;
  border: 1px solid #828282;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ProductDetail .compare-block .compare-wrap .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ProductDetail .compare-block .compare-wrap .product img {
  height: 100px;
  z-index: 1;
}

.ProductDetail .compare-block .compare-wrap .product p {
  width: 80px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}

.ProductDetail .compare-block .compare-wrap .product .shadow {
  position: absolute;
  width: 28px;
  height: 5px;
  border-radius: 50%;
  background-color: #202326;
  top: 96px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.ProductDetail .compare-block .compare-wrap .product .remove {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.ProductDetail .compare-block .compare-wrap button.compare {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 1024px) {
  .ProductList .compare-block {
    display: none;
  }
}

.ProductList .compare-block .compare-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  padding: 35px 30px 30px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 23px;
  border: 1px solid #828282;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ProductList .compare-block .compare-wrap .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ProductList .compare-block .compare-wrap .product img {
  height: 100px;
  z-index: 1;
}

.ProductList .compare-block .compare-wrap .product p {
  width: 80px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}

.ProductList .compare-block .compare-wrap .product .shadow {
  position: absolute;
  width: 28px;
  height: 5px;
  border-radius: 50%;
  background-color: #202326;
  top: 96px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.ProductList .compare-block .compare-wrap .product .remove {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.ProductList .compare-block .compare-wrap button.compare {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
/*# sourceMappingURL=CompareBlock.css.map */