.ProductList .master-recommend {
  padding-top: 40px;
}

.ProductList .master-recommend .master-title {
  font-family: "Klee One", cursive;
  font-size: 24px;
  font-weight: 600;
  margin-left: 43px;
  position: relative;
}

.ProductList .master-recommend .master-title img {
  width: 80px;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.8;
  left: -46px;
  top: -14px;
}

.ProductList .master-recommend .product-container {
  border-bottom: 1px solid #bbbcbd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 25px;
}

.ProductList .master-recommend .product-container .product {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product:last-child {
    display: none;
  }
}

.ProductList .master-recommend .product-container .product:hover > .product-wrap {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.146);
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.146);
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product {
    width: 48%;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap {
  width: 100%;
  text-align: center;
  background-color: rgba(247, 247, 246, 0.63);
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*  &:hover .img-wrap > img {
            transform: scale(1.1) translateY(5px);
          } */
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap {
    padding: 10px 5px 5px 5px;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .img-wrap {
  width: 100%;
}

.ProductList .master-recommend .product-container .product .product-wrap .img-wrap img.product-img {
  height: 190px;
  -webkit-filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .img-wrap img.product-img {
    height: 120px;
    -webkit-filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .tag-img img {
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .tag-img img {
    top: 6%;
    right: 7%;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .compare img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .icon .compare img {
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .compare p {
  color: #bbbcbd;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .icon .compare p {
    font-size: 12px;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart {
    margin-top: 5px;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart img {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart img {
    width: 18px;
    height: 17px;
    margin-left: 12px;
  }
}

.ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart .heart {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .product-wrap .icon .cart-heart .heart {
    width: 21px;
    height: 21px;
  }
}

.ProductList .master-recommend .product-container .product .title a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  text-align: center;
}

.ProductList .master-recommend .product-container .product .title p {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .title p {
    font-size: 15px;
  }
}

.ProductList .master-recommend .product-container .product .title p.price {
  margin-bottom: 40px;
  font-size: 16px;
  color: #e6c49e;
}

@media (max-width: 768px) {
  .ProductList .master-recommend .product-container .product .title p.price {
    font-size: 15px;
  }
}
/*# sourceMappingURL=ProductMaster.css.map */