* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
}

.ProductDetail {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
  background: url("/public/Sake-background0310.jpg");
}

@media (max-width: 768px) {
  .ProductDetail {
    padding: 0 20px;
  }
}

.ProductDetail .bgele1,
.ProductDetail .bgele2 {
  position: absolute;
  z-index: 0;
}

@media (max-width: 768px) {
  .ProductDetail .bgele1,
  .ProductDetail .bgele2 {
    display: none;
  }
}

.ProductDetail .bgele1 {
  top: 10%;
  right: -200px;
}

@media (max-width: 1440px) {
  .ProductDetail .bgele1 {
    right: -42%;
  }
}

@media (max-width: 1024px) {
  .ProductDetail .bgele1 {
    right: -70%;
  }
}

.ProductDetail .bgele2 {
  top: 50%;
  left: -20%;
}

@media (max-width: 1440px) {
  .ProductDetail .bgele2 {
    left: -40%;
  }
}

@media (max-width: 1024px) {
  .ProductDetail .bgele2 {
    left: -60%;
  }
}

.ProductDetail .product-container {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  /* .sidebar {
      width: 175px;
      height: fit-content;
      margin-right: 30px;
      @include medium() {
        display: none;
      }
      .first {
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 2px solid $gray-200;

        ul {
          margin-left: 30px;
          li {
            list-style: none;
            &:first-child a {
              color: $primary;
            }
            a {
              @include kleeone();
              color: $gray-300;
              text-decoration: none;
              margin-bottom: 16px;
              font-size: 20px !important;
            }
          }
        }
      }
      .second {
        .filter {
          padding-bottom: 10px;
          border-bottom: 2px solid $gray-200;
          a {
            @include kleeone();
            color: $primary;
            margin-left: 30px;
            font-size: 20px;
            text-decoration: none;
          }
        }
        p {
          font-size: 12px;

          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .level {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: $gray-300;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .third {
        a {
          @include kleeone();
          margin-left: 30px;
          font-size: 20px;
          text-decoration: none;
          color: $black;
        }
        p {
          font-size: 12px;
          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .price {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: gray;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .other {
        p {
          font-size: 12px;
          margin: 20px 0 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .custum {
          label {
            @include kleeone();
            margin: 0 0 20px 30px;
            color: gray;
            font-size: 20px;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
    }
 */
}

.ProductDetail .product-container .main {
  border-top: 2px solid #bbbcbd;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  position: relative;
  /* .compare-block {
        @include large() {
          display: none;
        }
        .compare-wrap {
          display: flex;
          flex-direction: column;
          width: 175px;
          padding: 35px 30px 30px 30px;
          height: fit-content;
          margin-top: 23px;
          border: 1px solid #828282;
          align-items: center;
          position: relative;
          .product {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img {
              height: 100px;
              z-index: 1;
            }
            p {
              width: 80px;
              text-align: center;
              line-height: 28px;
              font-size: 14px;
            }
            .shadow {
              position: absolute;
              width: 28px;
              height: 5px;
              border-radius: 50%;
              background-color: $black;
              top: 96px;
              filter: blur(3px);
            }
            .remove {
              width: 16px;
              height: 16px;
              position: absolute;
              right: 0;
              top: 0;
              cursor: pointer;
            }
          }
          button.compare {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
          }
        }
      } */
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main {
    border: none;
    display: block;
  }
}

.ProductDetail .product-container .main .center-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .mobile-search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ProductDetail .product-container .main .center-container .mobile-search-bar div {
  width: 25%;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar div div {
  width: 100%;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar div .title {
  color: #7e8082;
  font-size: 13;
  font-weight: 700;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar div .state {
  margin: 0;
  font-size: 15px;
  color: #7e8082;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar .cat,
.ProductDetail .product-container .main .center-container .mobile-search-bar .compare {
  position: relative;
}

.ProductDetail .product-container .main .center-container .mobile-search-bar .cat::before,
.ProductDetail .product-container .main .center-container .mobile-search-bar .compare::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: #bbbcbd;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ProductDetail .product-container .main .center-container .mobile-search-bar .compare::before {
  background: transparent;
}

.ProductDetail .product-container .main .center-container .product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-img {
  margin-right: 80px;
  padding-left: 112px;
  padding-top: 60px;
}

@media (max-width: 1440px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-img {
    padding-left: 100px;
  }
}

@media (max-width: 1440px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-img {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-img {
    padding-left: 0;
    margin-right: 40px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-img img {
  height: 400px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-img img {
    height: 350px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title {
  margin-top: 45px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .name {
  color: #202326;
  font-size: 24px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .name {
    width: 150px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .brand-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .brand-level .brand,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .brand-level .level {
  margin: 0;
  margin-right: 10px;
  border: 1px solid #7e8082;
  color: #7e8082;
  font-size: 14px;
  padding: 2px 10px 2px 10px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare {
    margin-top: 20px;
    margin-left: -10px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .like,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .like {
  cursor: pointer;
  margin-left: 5px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .like p {
  width: 50px;
  margin-bottom: 0;
  color: #bbbcbd;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .compare {
  cursor: pointer;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .compare img {
  width: 18px;
  height: 18px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-title .tag-icon .like-compare .compare p {
  width: 50px;
  margin-bottom: 0;
  color: #bbbcbd;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 2px;
  border-bottom: 2px solid #e0e0df;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 18px;
    border: none;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .gift {
  font-size: 16px;
  color: #bbbcbd;
  text-decoration: underline;
  margin-right: 17px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .gift {
    margin-right: 0;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .gift a {
  font-size: 16px;
  color: #bbbcbd;
  text-decoration: underline;
  margin-right: 17px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .gift a {
    margin-right: 0;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .product-mark {
  margin-right: 45px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .product-mark {
    margin-right: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .product-mark a {
  font-size: 16px;
  color: #e6c49e;
  text-decoration: underline;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .product-mark img {
  margin-bottom: 4px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .price {
  margin-left: auto;
  font-size: 36px;
  font-weight: 400;
  z-index: 3;
  color: #d26d54;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .product-price .price span {
  margin-right: 5px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 27px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 61px;
  cursor: pointer;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .minus img {
  width: 18px;
  height: 18px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .number {
  text-align: center;
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #3d4349;
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .number {
    width: 40px;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .plus {
    margin-right: 0;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart .add-minus .plus img {
  width: 18px;
  height: 18px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart button {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  margin-left: auto;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .add-cart button img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .intro {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .intro {
    display: none;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .intro p {
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  color: #7e8082;
  font-weight: 300;
  text-align: justify;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark {
  width: 100%;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark {
    display: none;
  }
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark #spec:checked ~ .product-detail {
  display: block;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark #spec:checked ~ label.spec::before {
  content: '';
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: -10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark #tran:checked ~ .tran-detail {
  display: block;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark #spec:checked ~ label.spec {
  color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark #tran:checked ~ label.tran {
  color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark label {
  cursor: pointer;
  color: #7e8082;
  font-size: 16px;
  margin-right: 46px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .spec {
  margin-left: 6px;
  color: #7e8082;
  position: relative;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .spec::before {
  content: '';
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 104px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .tran {
  color: #7e8082;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark input {
  display: none;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail {
  width: 100%;
  height: 600px;
  display: none;
  border-top: 2px solid #e0e0df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-rice,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-sake,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-japan,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-cup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-rice .detail-img,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-sake .detail-img,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-japan .detail-img,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-cup .detail-img {
  width: 120px;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-rice .text-spec p,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-sake .text-spec p,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-japan .text-spec p,
.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .product-detail .detail-cup .text-spec p {
  margin: 0;
  line-height: 40px;
  color: #4d4e4f;
}

.ProductDetail .product-container .main .center-container .product-wrap .product-info .bookmark .tran-detail {
  width: 100%;
  height: 600px;
  display: none;
  border-top: 2px solid #e0e0df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 33px;
  color: #3d4349;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark {
  width: 100%;
  display: none;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark p.intro {
  margin-top: 60px;
  font-size: 14;
  line-height: 28px;
  margin-bottom: 20px;
  color: #7e8082;
  font-weight: 400;
}

@media (max-width: 768px) {
  .ProductDetail .product-container .main .center-container .mobile-bookmark {
    display: block;
  }
}

.ProductDetail .product-container .main .center-container .mobile-bookmark #spec2:checked ~ .product-detail1 {
  display: block;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark #spec2:checked ~ label.spec2::before {
  content: '';
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: -10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark #tran2:checked ~ .tran-detail1 {
  display: block;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark #spec2:checked ~ label.spec2 {
  color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark #tran2:checked ~ label.tran2 {
  color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark label {
  cursor: pointer;
  color: #7e8082;
  font-size: 16px;
  margin-right: 46px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .spec2 {
  margin-left: 80px;
  color: #7e8082;
  position: relative;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .spec2::before {
  content: '';
  width: 120%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 104px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #e6c49e;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .tran2 {
  color: #7e8082;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark input {
  display: none;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 {
  width: 100%;
  height: 700px;
  display: none;
  border-top: 2px solid #e0e0df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-rice,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-sake,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-japan,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-cup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-rice .detail-img,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-sake .detail-img,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-japan .detail-img,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-cup .detail-img {
  width: 120px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-rice .text-spec p,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-sake .text-spec p,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-japan .text-spec p,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-cup .text-spec p {
  margin: 0;
  line-height: 40px;
  color: #4d4e4f;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-rice .text-spec p span,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-sake .text-spec p span,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-japan .text-spec p span,
.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-cup .text-spec p span {
  font-weight: 700;
  color: #4d4e4f;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-rice .detail-img img {
  height: 40px;
  margin-left: 35px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-sake .detail-img img {
  height: 50px;
  margin-left: 35px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-japan .detail-img img {
  height: 40px;
  margin-left: 35px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .product-detail1 .detail-cup .detail-img img {
  height: 40px;
  margin-left: 35px;
}

.ProductDetail .product-container .main .center-container .mobile-bookmark .tran-detail1 {
  width: 100%;
  height: 700px;
  display: none;
  border-top: 2px solid #e0e0df;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 33px;
  color: #3d4349;
}
/*# sourceMappingURL=ProductDetail.css.map */