@import '../mixin.scss';

@mixin exlarge {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 320px) {
    @content;
  }
}
@keyframes ani {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes bg1 {
  0% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes bg2 {
  0% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes number {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', serif;
  //outline: 1px solid $secondary;
}

// 最外面的容器
.ProductDetail {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
  @include bgimage();
  @include medium() {
    padding: 0 20px;
  }
  .bgele1,
  .bgele2 {
    position: absolute;
    z-index: 0;
    
    @include medium() {
      display: none;
    }
  }
  .bgele1 {
    pointer-events: none;
    top: -3%;
    right: -200px;
    animation: bg1 2s infinite alternate ease-in-out;
    @include exlarge() {
      right: -42%;
    }
    @include large() {
      right: -70%;
    }
  }
  .bgele2 {
    pointer-events: none;
    top: 23%;
    left: -20%;
    animation: bg1 1.5s infinite alternate ease-in-out;
    @include exlarge() {
      left: -40%;
    }
    @include large() {
      left: -60%;
    }
  }

  .product-container {
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    z-index: 3;

    // 背景的花紋

    // 左側的篩選
    /* .sidebar {
      width: 175px;
      height: fit-content;
      margin-right: 30px;
      @include medium() {
        display: none;
      }
      .first {
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 2px solid $gray-200;

        ul {
          margin-left: 30px;
          li {
            list-style: none;
            &:first-child a {
              color: $primary;
            }
            a {
              @include kleeone();
              color: $gray-300;
              text-decoration: none;
              margin-bottom: 16px;
              font-size: 20px !important;
            }
          }
        }
      }
      .second {
        .filter {
          padding-bottom: 10px;
          border-bottom: 2px solid $gray-200;
          a {
            @include kleeone();
            color: $primary;
            margin-left: 30px;
            font-size: 20px;
            text-decoration: none;
          }
        }
        p {
          font-size: 12px;

          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .level {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: $gray-300;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .third {
        a {
          @include kleeone();
          margin-left: 30px;
          font-size: 20px;
          text-decoration: none;
          color: $black;
        }
        p {
          font-size: 12px;
          margin: 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .price {
          display: flex;
          flex-direction: column;
          label {
            @include kleeone();
            color: gray;
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
      .other {
        p {
          font-size: 12px;
          margin: 20px 0 20px 30px;
          color: $gray-400;
          @include kleeone();
        }
        .custum {
          label {
            @include kleeone();
            margin: 0 0 20px 30px;
            color: gray;
            font-size: 20px;
            text-decoration: underline;
            transition: all 0.5s;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked + label {
            color: $black;
          }
        }
      }
    }
 */
    // 篩選之外的區塊
    .main-detail {
      border-top: 2px solid $gray-200;
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 40px;

      position: relative !important;
      @include medium() {
        border: none;
        display: block;
      }

      // 中間的區塊
      .center-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        animation: ani 1s 1s;
        .spin{
          text-align: center;
          margin-top: 200px;
        }

        .mobile-search-bar {
          display: none;
          justify-content: center;
          @include medium() {
            display: flex;
          }
          div {
            width: 25%;
            margin-bottom: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            div {
              width: 100%;
            }
            .title {
              color: $gray-300;
              font-size: 13;
              font-weight: 700;
            }
            .state {
              margin: 0;
              font-size: 15px;
              color: $gray-300;
            }
          }
          .cat,
          .compare {
            position: relative;
            &::before {
              position: absolute;
              content: '';
              width: 1px;
              height: 30px;
              background-color: $gray-200;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .compare {
            &::before {
              background: transparent;
            }
          }
        }
        .product-wrap {
          display: flex;
          .product-img {
            margin-right: 80px;
            padding-left: 112px;
            padding-top: 60px;
            @include exlarge() {
              padding-left: 100px;
            }
            @include exlarge() {
              padding-left: 40px;
            }
            @include medium() {
              padding-left: 0;
              margin-right: 40px;
            }
            img {
              height: 400px;
              @include medium() {
                height: 350px;
              }
            }
          }
          .product-info {
            width: 390px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include medium() {
            }
            .product-title {
              margin-top: 45px;
              .name {
                color: $black;
                font-size: 24px;
                @include medium() {
                  width: 150px;
                }
              }
              .tag-icon {
                display: flex;
                margin-top: 15px;
                @include medium() {
                  flex-direction: column;
                }
                .brand-level {
                  display: flex;
                  align-items: center;

                  .brand,
                  .level {
                    margin: 0;
                    margin-right: 10px;
                    border: 1px solid $gray-300;
                    color: $gray-300;
                    font-size: 14px;
                    padding: 2px 10px 2px 10px;
                  }
                }
                .like-compare {
                  display: flex;
                  align-items: center;
                  @include medium() {
                    margin-top: 20px;
                    margin-left: -10px;
                  }
                  .like,
                  .compare {
                    display: flex;
                    align-items: center;
                  }
                  .like {
                    cursor: pointer;
                    margin-left: 5px;
                    p {
                      width: 50px;
                      margin-bottom: 0;
                      color: $gray-200;
                    }
                  }
                  .compare {
                    cursor: pointer;
                    img {
                      width: 18px;
                      height: 18px;
                    }
                    p {
                      width: 50px;
                      margin-bottom: 0;
                      color: $gray-200;
                    }
                  }
                }
              }
            }
            .product-price {
              margin-top: 65px;
              display: flex;
              align-items: baseline;
              padding-bottom: 2px;
              border-bottom: 2px solid $gray-100;
              @include medium() {
                flex-direction: column;
                align-items: flex-end;
                row-gap: 18px;
                border: none;
              }
              .gift {
                font-size: 16px;
                color: $gray-200;
                text-decoration: underline;
                margin-right: 17px;
                @include medium() {
                  margin-right: 0;
                }
              }
              .active{
                color: $success;
              }
              .gift a {
                font-size: 16px;
                color: $gray-200;
                text-decoration: underline;
                margin-right: 17px;
                @include medium() {
                  margin-right: 0;
                }
              }
              .product-mark {
                margin-right: 45px;
                cursor: pointer;
                @include medium() {
                  margin-right: 0;
                  order: -1;
                }
                a {
                  font-size: 16px;
                  color: $success;
                  text-decoration: underline;
                }
                img {
                  margin-bottom: 4px;
                }
              }
              .price {
                margin-left: auto;
                font-size: 36px;
                font-weight: 400;
                z-index: 3;
                color: $secondary;
                span {
                  margin-right: 5px;
                }
              }
            }
            .add-cart {
              display: flex;
              margin-top: 22px;
              @include medium() {
                flex-direction: column;
                align-items: flex-end;
                padding-right: 27px;
              }
              .add-minus {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .minus {
                  display: flex;
                  align-items: center;
                  margin-left: 61px;
                  //margin-right: 27px;
                  cursor: pointer;
                  img {
                    width: 18px;
                    height: 18px;
                  }
                }
                .number {
                  text-align: center;
                  width: 80px;
                  //display: flex;
                  align-items: center;
                  font-size: 16px;
                  color: $primary;
                  margin-bottom: 3px;
                  //margin-right: 27px;
                  @include medium() {
                    width: 40px;
                  }
                }
                .numberanimate{
                  animation: number .2s;
                }
                .plus {
                  display: flex;
                  align-items: center;
                  //margin-right: 80px;
                  cursor: pointer;
                  @include medium() {
                    margin-right: 0;
                  }
                  img {
                    width: 18px;
                    height: 18px;
                  }
                }
              }
              button {
                font-size: 14px;
                display: flex;
                align-items: center;
                z-index: 3;
                margin-left: auto;
                img {
                  width: 18px;
                  height: 18px;
                  margin-right: 5px;
                }
              }
            }
            .intro {
              margin-top: 30px;
              @include medium() {
                display: none;
              }

              p {
                width: 100%;
                font-size: 14px;
                line-height: 28px;
                color: $gray-300;
                font-weight: 300;
                text-align: justify;
              }
            }
            .bookmark {
              width: 100%;
              @include medium() {
                display: none;
              }
              #spec:checked ~ .product-detail {
                display: block;
              }
              #spec:checked ~ label.spec::before {
                content: '';
                width: 120%;
                height: 4px;
                position: absolute;
                bottom: -8px;
                left: -10%;
                transition: all 0.3s;
                background-color: $success;
              }
              #tran:checked ~ .tran-detail {
                display: block;
              }
              #spec:checked ~ label.spec {
                color: $success;
              }
              #tran:checked ~ label.tran {
                color: $success;
              }
              label {
                cursor: pointer;
                color: $gray-300;
                font-size: 16px;
                margin-right: 46px;
                margin-bottom: 5px;
                transition: all 0.3s;
                font-weight: 500;
              }
              .spec {
                margin-left: 6px;
                color: $gray-300;
                position: relative;
                &::before {
                  content: '';
                  width: 120%;
                  height: 4px;
                  position: absolute;
                  bottom: -8px;
                  left: 104px;
                  transition: all 0.3s;
                  background-color: $success;
                }
              }
              .tran {
                color: $gray-300;
              }
              input {
                display: none;
              }
              .product-detail {
                width: 100%;
                height: 600px;
                display: none;
                border-top: 2px solid $gray-100;
                transition: all 0.3s;
                .detail-rice,
                .detail-sake,
                .detail-japan,
                .detail-cup {
                  display: flex;
                  align-items: center;
                  margin-top: 33px;
                  .detail-img {
                    width: 120px;
                  }
                  .text-spec {
                    p {
                      margin: 0;
                      line-height: 40px;
                      color: $gray-400;
                    }
                  }
                }
              }
              .tran-detail {
                width: 100%;

                height: 600px;
                display: none;
                border-top: 2px solid $gray-100;
                transition: all 0.3s;
                padding-top: 33px;
                color: $primary;
              }
            }
          }
        }
        .mobile-bookmark {
          width: 100%;
          display: none;
          p.intro {
            margin-top: 60px;
            font-size: 14;
            line-height: 28px;
            margin-bottom: 20px;
            color: $gray-300;
            font-weight: 400;
          }
          @include medium() {
            display: block;
          }
          #spec2:checked ~ .product-detail1 {
            display: block;
          }
          #spec2:checked ~ label.spec2::before {
            content: '';
            width: 120%;
            height: 4px;
            position: absolute;
            bottom: -8px;
            left: -10%;
            transition: all 0.3s;
            background-color: $success;
          }
          #tran2:checked ~ .tran-detail1 {
            display: block;
          }
          #spec2:checked ~ label.spec2 {
            color: $success;
          }
          #tran2:checked ~ label.tran2 {
            color: $success;
          }
          label {
            cursor: pointer;
            color: $gray-300;
            font-size: 16px;
            margin-right: 46px;
            margin-bottom: 5px;
            transition: all 0.3s;
            font-weight: 500;
          }
          .spec2 {
            margin-left: 80px;
            color: $gray-300;
            position: relative;
            &::before {
              content: '';
              width: 120%;
              height: 4px;
              position: absolute;
              bottom: -8px;
              left: 104px;
              transition: all 0.3s;
              background-color: $success;
            }
          }
          .tran2 {
            color: $gray-300;
          }
          input {
            display: none;
          }
          .product-detail1 {
            width: 100%;
            height: 700px;
            display: none;
            border-top: 2px solid $gray-100;
            transition: all 0.3s;
            .detail-rice,
            .detail-sake,
            .detail-japan,
            .detail-cup {
              display: flex;
              align-items: center;
              margin-top: 33px;
              .detail-img {
                width: 120px;
              }
              .text-spec {
                p {
                  margin: 0;
                  line-height: 40px;
                  color: $gray-400;
                  span {
                    font-weight: 700;
                    color: $gray-400;
                  }
                }
              }
            }
            .detail-rice .detail-img img {
              height: 40px;
              margin-left: 35px;
            }
            .detail-sake .detail-img img {
              height: 50px;
              margin-left: 35px;
            }
            .detail-japan .detail-img img {
              height: 40px;
              margin-left: 35px;
            }
            .detail-cup .detail-img img {
              height: 40px;
              margin-left: 35px;
            }
          }
          .tran-detail1 {
            width: 100%;
            height: 700px;
            display: none;
            border-top: 2px solid $gray-100;
            transition: all 0.3s;
            padding-top: 33px;
            color: $primary;
          }
        }
      }

      //最右邊比較區塊
      /* .compare-block {
        @include large() {
          display: none;
        }
        .compare-wrap {
          display: flex;
          flex-direction: column;
          width: 175px;
          padding: 35px 30px 30px 30px;
          height: fit-content;
          margin-top: 23px;
          border: 1px solid #828282;
          align-items: center;
          position: relative;
          .product {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img {
              height: 100px;
              z-index: 1;
            }
            p {
              width: 80px;
              text-align: center;
              line-height: 28px;
              font-size: 14px;
            }
            .shadow {
              position: absolute;
              width: 28px;
              height: 5px;
              border-radius: 50%;
              background-color: $black;
              top: 96px;
              filter: blur(3px);
            }
            .remove {
              width: 16px;
              height: 16px;
              position: absolute;
              right: 0;
              top: 0;
              cursor: pointer;
            }
          }
          button.compare {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
          }
        }
      } */
    }
  }
}
