@import './../../styles/mixin.scss';

@mixin exlarge {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin large {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 320px) {
    @content;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line_dash_forward {
  0% {
    stroke-dashoffset: 2210;
  }
  5.5% {
    stroke-dashoffset: 0;
  }
  11% {
    stroke-dashoffset: 0;
  }
  22%,100% {
    stroke-dashoffset: 2210;
  }
}
@keyframes line02_dash_forward {
  0%,21.5% {
    stroke-dashoffset: 3000;
  }
  26.125% {
    stroke-dashoffset: 0;
  }
  30.25% {
    stroke-dashoffset: 0;
  }
  38.5%,100% {
    stroke-dashoffset: 3000;
  }
}
@keyframes line03_dash_forward {
  0%,64% {
    stroke-dashoffset: 2210;
  }
  71.25% {
    stroke-dashoffset: 0;
  }
  76.5% {
    stroke-dashoffset: 0;
  }
  85%,100% {
    stroke-dashoffset: 2210;
  }
}
@keyframes letter {
  0%,11% {
    opacity: 0;
  }
  15.125% {
    opacity: 1;
  }
  22% {
    opacity: 1;
    transform: translateX(0);
  }
  27.5%,100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
@keyframes color {
  0%,30% {
    transform: translateX(-150px);
    opacity: 0;
  }
  36.625% {
    transform: translateX(0);
    opacity: 1;
  }
  64.65% {
    transform: translateX(0);
    opacity: 1;
  }
  68.5%,100% {
    transform: translateX(150px);
  }
}
@keyframes moon {
  0%,35.5% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  41% {
    transform: translateY(0);
    opacity: 1;
  }
  60.25% {
    transform: translateY(0);
  }
  61.625% {
    transform: translateY(-5px);
  }
  63%,100% {
    transform: translateY(100px);
    opacity: 1;
  }
}
@keyframes cloud01 {
  0%,41% {
    transform: translateX(150px);
    opacity: 0.5;
  }
  46.5% {
    transform: translateX(0);
    opacity: 1;
  }
  60.8% {
    transform: translateX(0);
  }
  63%,100% {
    transform: translateX(150px);
    opacity: 1;
  }
}
@keyframes cloud02 {
  0%,42% {
    transform: translateX(-80px);
    opacity: 0.5;
  }
  47.25% {
    transform: translateX(0);
    opacity: 1;
  }
  60.9% {
    transform: translateX(0);
  }
  63%,100% {
    transform: translateX(-80px);
    opacity: 1;
  }
}

@keyframes qus {
    0%,74%{
        opacity: 0;
    }
    77.9%{
        transform: rotateZ(0)
    }
    79.2%{
        opacity: 1;
        transform: rotateZ(15deg);
    }
    80.5%{
        transform: rotateZ(0);
    }
    81.8%{
        transform: rotateZ(-15deg);
    }
    85.7%{
        transform: rotateZ(25deg);
    }
    90.5%{
        transform: rotateZ(-25deg);
    }
    93.1%{
        transform: rotateZ(0);
    }
    94.4%{
        transform: rotateZ(10deg);
    }
    97%{
        transform: rotateZ(-10deg);
    }
    100%{
        transform: rotateZ(0);
        opacity: 1;
    }
    
}

.intro_anime {
  position: absolute;

  .base {
    stroke-dasharray: 1337;
    stroke-dashoffset: 1337;
    animation: dash 5s ease-in-out 1s alternate forwards;
  }
}
.marks {
  position: absolute;
  z-index: 20;
  bottom: calc(50% - 240px);
  #mark {
    stroke-dasharray: 659;
    stroke-dashoffset: 659;
    animation: dash 2s ease-in-out 5s alternate forwards;
  }
}
.lines {
  position: absolute;
  z-index: 25;
  bottom: calc(50% - 240px);
  #line {
    stroke-dasharray: 2210;
    stroke-dashoffset: 2210;
    animation: line_dash_forward 17.5s ease-in-out 6.5s infinite;
  }
}
.letter {
  position: absolute;
  z-index: 10;
  bottom: calc(50% - 230px);
  #english {
    opacity: 0;
    animation: letter 17.5s ease-in-out 6.5s infinite;
  }
}
.line02{
    position: absolute;
    z-index: 25;
    bottom: calc(50% - 250px);
#line02{
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: line02_dash_forward 17.5s ease-in-out 6.5s infinite;
}
}
.bg {
  position: absolute;
  z-index: 5;
  bottom: calc(50% - 240px);
  #color {
    opacity: 0;
    transform: translateX(-150px);
    animation: color 17.5s ease-in-out 6.5s infinite;
  }
}
.icon_moon {
  position: absolute;
  z-index: 10;
  bottom: calc(50% - 200px);
  left: calc(50% - 300px);
  #moon {
    opacity: 0.5;
    transform: translateY(100px);
    animation: moon 17.5s ease-in-out 6.5s infinite;
  }
}
.icon01 {
  position: absolute;
  z-index: 15;
  bottom: calc(50% - 145px);
  left: calc(50% - 285px);
  #cloud01 {
    opacity: 0.5;
    transform: translateX(150px);
    animation: cloud01 17.5s ease-in-out 6.5s infinite;
  }
}
.icon02 {
  position: absolute;
  z-index: 15;
  bottom: calc(50% - 240px);
  left: calc(50% - 320px);
  #cloud02 {
    opacity: 0.5;
    transform: translateX(-80px);
    animation: cloud02 17.5s ease-in-out 6.5s infinite;
  }
}
.line03 {
    position: absolute;
    z-index: 20;
    bottom: calc(50% - 250px);
    #line03 {
      stroke-dasharray: 2210;
      stroke-dashoffset: 2210;
      animation: line03_dash_forward 17.5s ease-in-out 6.5s infinite;
    }
  }
.qus{
    position: absolute;
    z-index: 10;
    bottom: calc(50% - 200px);
    opacity: 0;
    animation: qus 17.5s ease-in-out 6.5s infinite;
}


