@import '../mixin.scss';
* {
  // border: 1px blue solid;
  margin: 0;
  padding: 0;
}

.CartList {
  width: 100%;
  .container {
    max-width: 1200px;
    padding: 0%;
    // progress bar ---
    .progressBar {
      width: 454px;
      height: 60px;
      margin: 0 auto;
      li {
        list-style-type: none;
        width: 33%;
        float: left;
        color: $gray-200;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        text-align: center;

        &::before {
          width: 13px;
          height: 13px;
          content: '';
          line-height: 30px;
          background-color: $gray-200;
          display: block;
          text-align: center;
          margin: 0 auto 10px auto;
          border-radius: 50%;
        }
        &::after {
          width: 100%;
          height: 4px;
          content: '';
          position: absolute;
          background-color: $gray-200;
          top: 5px;
          left: -50%;
          z-index: -1;
          transition: all 0.8s;
        }
        &:first-child::after {
          content: none;
        }
      }
      .active {
        color: $primary;
        &::before {
          content: url('../../../public/Progressbar/cup_dot.png');
          background-color: transparent;
          width: 18px;
          height: 13px;
          line-height: 16px;
          display: block;
          text-align: center;
          margin: 0 auto 10px auto;
        }
      }
    }
  }
  // cart-list table ---
  .cart-list {
    // table-title ---
    .table-head {
      width: 100%;
      background-color: rgba(187, 188, 189, 0.5);
      padding: 10px;

      display: flex;
      justify-content: space-between;
      column-gap: 10px;

      span {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }
    }
    // sake-table-head---
    .sake-table-head {
      .title-del {
        width: 6.16%;
      }
      .title-product {
        width: 46.25%;
      }
      .title-mark {
        width: 20.08%;
      }
      .title-quantity {
        width: 13.75%;
      }
      .title-subtotal {
        width: 8.25%;
      }
    }

    // gift-table-head---
    .gift-table-head {
      .title-del {
        width: 6.16%;
      }
      .title-gift {
        width: 11.166%;
      }
      .title-gift-detail {
        width: 34.25%;
        padding-left: 113px;
        text-align: left;
      }
      .title-color {
        width: 20%;
      }
      .title-quantity {
        width: 13.75%;
      }
      .title-subtotal {
        width: 8.25%;
      }
    }

    // table-item ---
    .table-item {
      width: 100%;

      padding: 10px;

      display: flex;
      column-gap: 10px;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // sake-table-item---
    .sake-table-item {
      height: 150px;
      .item-del {
        width: 6.16%;
      }
      .item-product-img {
        width: 11%;
        background-color: $white;
        mix-blend-mode: multiply;
      }
      .item-product-info {
        width: 34.416%;
        flex-direction: column;
        align-items: flex-start;
        h5 {
          font-size: 18px;
          font-weight: bold;
          line-height: 36px;
          margin: 0;
          color: $primary;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          color: $primary;
          &:first-of-type::after {
            content: ' ml';
          }
          &:last-of-type::before {
            content: '$ ';
          }
        }
        a {
          text-decoration: underline;
          line-height: 32px;
          font-size: 16px;
          font-weight: 500;
        }
        a.false {
          color: $gray-200;
        }
        a.true {
          color: $secondary;
          position: relative;
          &::after {
            content: url('../../../public/CartList/go-right.svg');
            position: absolute;
            top: 4px;
          }
        }
      }
      .item-mark {
        width: 20.08%;
        background-color: $white;
        mix-blend-mode: multiply;
      }
      .item-quantity {
        width: 13.75%;
        .quantity-container {
          display: flex;
          align-items: center;
        }

        p {
          width: 32px;
          margin: 0;
          text-align: center;
          font-size: 16px;
        }
      }
      .item-subtotal {
        width: 8.25%;
        p {
          margin: 0;
          &:before {
            content: '$ ';
          }
        }
      }
    }
    // gift-table-item---
    .gift-table-item {
      height: 208px;
      .item-del {
        width: 6.16%;
      }
      .item-gift-img {
        width: 11.166%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: $white;
        mix-blend-mode: multiply;

        p {
          margin: 0;
          color: $primary;
          font-weight: 500;
          line-height: 32px;
        }
      }
      .item-gift-detail {
        width: 34.25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 10px;

        h5 {
          font-size: 16px;
          font-weight: bold;
          line-height: 36px;
          margin: 0;
          color: $primary;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          color: $primary;
          &::after {
            content: ' ml';
          }
        }
      }
      .item-color {
        width: 20%;
        font-weight: 500;
      }

      .item-quantity {
        width: 13.75%;
        .quantity-container {
          display: flex;
          align-items: center;
        }

        p {
          width: 32px;
          margin: 0;
          text-align: center;
          font-size: 16px;
        }
      }
      .item-subtotal {
        width: 8.25%;
        p {
          margin: 0;
          &:before {
            content: '$ ';
          }
        }
      }
    }

    hr {
      border: $gray-100 1px solid;
      margin: 12px 0;
    }
  }

  .cart-form {
    padding-left: 8%;
    padding-right: 0.833%;
    display: flex;
    justify-content: space-between;

    h5 {
      font-size: 18px;
      font-weight: 500;
      color: $gray-300;
      margin: 0 0 35px 0;
    }

    .form-left {
      width: 45.75%;
      .shipment {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .district {
        margin-bottom: 16px;
      }
      .city {
        margin-bottom: 28px;
      }
      .method {
        margin-bottom: 56px;
      }
      .discount {
        width: 100%;
        .discount-container {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 60px;
          .discount-input {
            width: 73%;
            
            input {
              width: 100%;
              height: 50px;
            }
          }
        }
      }
    }
    .form-right {
      width: 35.75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .order-summary {
        width: 100%;
        .order-summary-table {
          .table-row {
            display: flex;
            justify-content: space-between;
            color: $gray-400;
            line-height: 32px;
            p {
              margin-bottom: 0%;
            }
            p.dollar-sign::before {
              content: '$ ';
            }
            p.total{
              font-size: 20px;
              color: $secondary;
            }
          }
        }
      }
      .buttons{
        .btn:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}
